
.project-container > .logo {
	background-image: url(../img/mall-HeroImg.png);
	background-size: contain;
	height: 535px;
	background-color: #ff3473;
}

.project-container h1,
.project-container h3 {
	color: #FF3574;
  text-transform: none;
}

/*
.project-container h2 {
  color: #FF3574;
  text-transform: lowercase;
}*/