
<section id="about" class="about flex">
   <div class="details">
      <h3>Hello, I’m Yenny,<br />Product designer based in <br />San Francisco Bay Area.</h3>
      <!-- <p>I am originally from Borneo Island and grew up in Jakarta, Indonesia. I earned my BFA degree in Graphic Design from Academy of Art University in San Francisco and my UX Design Immersive certification from General Assembly.<br /><br /> -->

         <p>As a product designer and previous business owner, I have a great wealth of experience on both sides of the business. I believe that UX design is the foundational bridge between products and users. As a designer, we have the power to empathize with the user and develop a seamless and enjoyable experience that also achieves business goals. When users are pleased and can interact efficiently, it will result in competitive and profitable products. Successful user experience requires solving problems that will benefit all parties.</p>

         <p>Travelling is one of my favorite pastimes. Experiencing different cultures and international cuisines are what I live for. I also enjoy playing and making games. I've participated in several game hackathons, where the goal is to create a fun and playable game within 72 hours. When I’m not travelling, designing or playing games, I love to craft. I make jewelry, books, and leather goods such as handbags and wallets.</p>

         <p>Thanks for visiting viewing my portfolio,<br />
         - Yenny</p>

 <!--      <h3>Sketches</h3> -->
         <div id="about" class="about project-container">
         <!-- <div class="logo"></div> -->
         <section class="gallery t-hide sketches brand">
               <div class="image" style="background-image: url(/static/img/about/a1.png);" data-image="a1.png"></div>
               <div class="image" style="background-image: url(/static/img/about/a3.png);" data-image="a3.png"></div>
               <div class="image" style="background-image: url(/static/img/about/a4.png);" data-image="a4.png"></div>
               <div class="image" style="background-image: url(/static/img/about/a2.png);" data-image="a2.png"></div>
         </section>

         <section class="gallery hidden sketches-2 t-show t-col-2 m-col-1">
               <img src="/static/img/about/a1.png" />
               <img src="/static/img/about/a3.png" />
               <img src="/static/img/about/a4.png" />
               <img src="/static/img/about/a2.png" />
         </section>

      <p><em>If you like to chat,</em><br />
         <em>Let’s connect!</em>
      </p>
      <br />
      <p class="contact-link"><em>Email</em> <a href="mailto:Yulianny.fang@gmail.com">Yulianny.fang@gmail.com</a></p>
      <p class="contact-link"><em>Linkedin</em> <a href="https://www.linkedin.com/in/yenny-yulianny/">yenny-yulianny</a></p>
   </div>
</section>