<div id="brand" class="brand project-container">
   <div class="logo"></div>
   <!-- <h1>Brands</h1> -->
</div>

<div class="flex even"></div>
   <section class="gallery products col-2 m-col-1">

      <img src="/static/img/brand/mystic.png"></img>
      <img src="/static/img/brand/onia.png"></img>

      <img src="/static/img/brand/ainume.png"></img>
      <img src="/static/img/brand/project-m.png"></img>

      <img src="/static/img/brand/pinecrest.png"></img>
      <img src="/static/img/brand/burmese-kitchen.png"></img>

      <img src="/static/img/brand/cbsi.png"></img>
      <img src="/static/img/brand/terra-sonoma.png"></img>

      <img src="/static/img/brand/ora-craft.png"></img>
      <img src="/static/img/brand/selalu-work.png"></img>

      <img src="/static/img/brand/suka.png"></img>
      <img src="/static/img/brand/carnelia-system.png"></img>
   
      <img src="/static/img/brand/regali.png"></img>
      <img src="/static/img/brand/smart-blend.png"></img>

      <img src="/static/img/brand/missmosa.png"></img>
      <img src="/static/img/brand/baybah.png"></img>
     
      <img src="/static/img/brand/its.png"></img>
      <img src="/static/img/brand/green-cycle.png"></img>


   </section>
</div>


<!-- <div id="brand" class="brand project-container"> -->
   <!-- <div class="logo"></div> -->
   <!-- <h1>Brands</h1> -->
<!-- </div> -->
<!-- 
</section>
<section id="projects"> -->
   <!-- <h2>Games</h2> -->
   <!-- <div class="flex projects"> -->
   <!-- <div class="flex even"> -->

      <!-- <a class="project mystic project-link" href="mystic">
         <img src="/static/img/brand/mystic.png"></img>
         <span class="details">
            <span class="title">Mystic Pixel</span> -->
            <!-- <span class="sub-title">Visual Design</span> -->
         <!-- </span> -->
      <!-- </a>

      <a class="project g project-link" href="/gurame">
         <span class="details">
            <span class="title">Gurame</span>
            <span class="sub-title">Visual Design</span>
         </span> -->
      <!-- </a> -->
   <!-- </div> -->
<!-- </section> -->
