
<div id="burmese" class="burmese project-container">
   <div class="logo"></div>
   <h1>Burmese Kitchen</h1>

   <h3>Sketches</h3>
   <div class="flex even"></div>

   <img class="full s-80" src="/static/img/bk-1sketch.png"></img>
   <img class="full s-80" src="/static/img/bk-2sketch.png"></img>
   <img class="semi" src="/static/img/h-Burmese.png"></img>
   <img class="semi" src="/static/img/bk-4shirt.png"></img>
   <img class="semi" src="/static/img/bk-5tablet.png"></img>
   <img class="semi" src="/static/img/bk-6bag.png"></img>         
</div>