
<div id="burmese" class="burmese project-container">
   <div class="logo"></div>
   <h1>Burmese Kitchen</h1>

   <h3>Sketches</h3>
   <div class="flex even"></div>

   <section class="gallery col-4 sketches m-col-2">
      <img src="/static/img/burmese-kitchen/sketch-1a.png"></img>
      <img src="/static/img/burmese-kitchen/sketch-1b.png"></img>
      <img src="/static/img/burmese-kitchen/sketch-1c.png"></img>
      <img src="/static/img/burmese-kitchen/sketch-1d.png"></img>
      <img src="/static/img/burmese-kitchen/sketch-2a.png"></img>
      <img src="/static/img/burmese-kitchen/sketch-2b.png"></img>
      <img src="/static/img/burmese-kitchen/sketch-2c.png"></img>
      <img src="/static/img/burmese-kitchen/sketch-2d.png"></img>
   </section>

   <section class="gallery col-2 products m-col-1">
      <img src="/static/img/burmese-kitchen/business-card.png"></img>
      <img src="/static/img/burmese-kitchen/shirt.png"></img>
      <img src="/static/img/burmese-kitchen/tablet.png"></img>
      <img src="/static/img/burmese-kitchen/bag.png"></img>
   </section>
</div>