<div class="carousel-arrow-container">
   <div class="carousel-arrow prev"></div>
   <div class="carousel-arrow next"></div>
</div>
<div id="carousel" class="carousel">
   <a class="project sf project-link" href="/sf-gov">
       <span class="details">
           <span class="title">SFDPH “Gender Health SF”</span>
           <span class="sub-title">Web Experience</span>
           <span class="categories">Product Design | UX Design | Market Research | Visual Design | Prototyping</span>
       </span>
   </a>
   <a class="project onia project-link" href="/onia">
       <span class="details">
           <span class="title">Onia</span>
           <span class="sub-title">Mobile Experience</span>
           <span class="categories">Product Design | UX Design | Visual Design | Prototyping | Branding</span>
       </span>
   </a>
   <a class="project mm project-link" href="/mood-mod">
       <span class="details">
           <span class="title">MoodMod</span>
           <span class="sub-title">Mobile Experience</span>
           <span class="categories">User Research | UX Design | Visual Design | Prototyping | Branding</span>
       </span>
   </a>
   <a class="project pc project-link" href="/pinecrest">
       <span class="details">
           <span class="title">Pinecrest</span>
           <span class="sub-title">Restaurant & Web Experience</span>
           <span class="categories">User Research | UX Design | Visual Design | Prototyping | Branding | Photography</span>
       </span>
   </a>
   <a class="project terra project-link" href="/terra">
       <span class="details">
           <span class="title">Terra Sonoma</span>
           <span class="sub-title">Visual Design</span>
           <span class="categories">Brand Identity | Stationary System | Product Label</span>
       </span>
   </a>
   <a class="project pbc project-link" href="/pinecrest-bc">
       <span class="details">
           <span class="title">Pinecrest</span>
           <span class="sub-title">Visual Design</span>
           <span class="categories">Seasonal Ads | Brand Identity | Web Design | Stationary System | Promotion Items </span>
       </span>
   </a>
   <a class="project burmese project-link" href="/burmese">
       <span class="details">
           <span class="title">Burmese Kitchen</span>
           <span class="sub-title">Visual Design</span>
           <span class="categories">Brand Identity | Stationary System</span>
       </span>
   </a>
   <a class="project photography project-link" href="/photography">
       <span class="details">
           <span class="title">Photography</span>
           <!-- <span class="sub-title">Photography</span> -->
           <!-- <span class="categories">Brand Identity | Stationary System | Product Label</span> -->
       </span>
   </a>
   <a class="project collect project-link" href="/collection">
       <span class="details">
           <span class="title">Collection</span>
       </span>
   </a>
   <a class="project guardner project-link" href="/guardner">
       <span class="details">
           <span class="title">Guard'ner</span>
           <span class="sub-title">Visual Design</span>
       </span>
   </a>
   <a class="project blalb project-link" href="/blalb">
       <span class="details">
           <span class="title">Blalb</span>
           <span class="sub-title">Visual Design</span>
       </span>
   </a>
   <a class="project mall project-link" href="/mall">
       <span class="details">
           <span class="title">Mall-icious Intent</span>
           <span class="sub-title">Visual Design</span>
       </span>
   </a>
   <a class="project d project-link" href="/deadly">
       <span class="details">
           <span class="title">Deadly Debt</span>
           <span class="sub-title">Visual Design</span>
       </span>
   </a>
   <a class="project g project-link" href="/gurame">
       <span class="details">
           <span class="title">Gurame</span>
           <span class="sub-title">Visual Design</span>
       </span>
   </a>
</div>