<div id="collection" class="collection project-container">
   <div class="logo t-fill"></div>
   <h2>Branding</h2>
   <br /><br />

   <!-- <div class="logo"></div> -->
   <section class="gallery sketches brand col-3 m-col-1">
         <div class="image" style="background-image: url(/static/img/collection/c1.png);" data-image="collection/c1.png"></div>
         <div class="image" style="background-image: url(/static/img/collection/c2.png);" data-image="collection/c2.png"></div>
         <div class="image" style="background-image: url(/static/img/collection/c3.png);" data-image="collection/c3.png"></div>
         <div class="image" style="background-image: url(/static/img/collection/c4.png);" data-image="collection/c4.png"></div>
         <div class="image" style="background-image: url(/static/img/collection/c5.png);" data-image="collection/c5.png"></div>
         <div class="image" style="background-image: url(/static/img/collection/c6.png);" data-image="collection/c6.png"></div>
         <div class="image" style="background-image: url(/static/img/collection/c7.png);" data-image="collection/c7.png"></div>
         <div class="image" style="background-image: url(/static/img/collection/c8.png);" data-image="collection/c8.png"></div>
         <div class="image" style="background-image: url(/static/img/collection/c9.png);" data-image="collection/c9.png"></div>
   </section>


   <h2>Poster</h2>
   <section class="gallery sketches poster col-2 t-col-1">
         <img src="/static/img/collection/c10.png" />
         <img src="/static/img/collection/c11.jpg" />
   </section>

   <!-- <img class="semi" src="img/c10.png"></img>
   <img class="semi" src="img/c11.jpg"></img> -->

   <h2>Store fixtures & Display</h2>
   <section class="gallery sketches store col-2 m-col-1">
         <div class="image" style="background-image: url(/static/img/collection/c12.png);" data-image="collection/c12.png"></div>
         <div class="image" style="background-image: url(/static/img/collection/c13.png);" data-image="collection/c13.png"></div>
   </section>
   <!-- <img class="semi" src="img/c12.png"></img>
   <img class="semi" src="img/c13.png"></img> -->

   <h2>Product & Packaging</h2>collection/
   <section class="gallery sketches packaging col-2 m-col-1">
         <div class="image" style="background-image: url(/static/img/collection/c14.png);" data-image="collection/c14.png"></div>
         <div class="image" style="background-image: url(/static/img/collection/c15.png);" data-image="collection/c15.png"></div>
         <div class="image full" style="background-image: url(/static/img/collection/c16.png);" data-image="collection/c16.png"></div>
         <div class="image" style="background-image: url(/static/img/collection/c17.png);" data-image="collection/c17.png"></div>
         <div class="image" style="background-image: url(/static/img/collection/c18.png);" data-image="collection/c18.png"></div>
         <div class="image full" style="background-image: url(/static/img/collection/c19.png);" data-image="collection/c19.png"></div>
         <div class="image" style="background-image: url(/static/img/collection/c20.png);" data-image="collection/c20.png"></div>
         <div class="image" style="background-image: url(/static/img/collection/c21.png);" data-image="collection/c21.png"></div>
         <div class="image" style="background-image: url(/static/img/collection/c22.png);" data-image="collection/c22.png"></div>
         <div class="image" style="background-image: url(/static/img/collection/c23.png);" data-image="collection/c23.png"></div>
   </section>



   <h2>Advertising</h2>
   <!-- two video -->
   <!-- <https://youtu.be/_VifBH0eKJo>
   <https://youtu.be/QYciRjRcxhE> -->
   <section class="flex fill t-wrap">
      <div class="video">
         <iframe width="530" height="477px" src="https://www.youtube.com/embed/_VifBH0eKJo?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
      </div>

      <div class="video">
         <iframe width="530" height="477px" src="https://www.youtube.com/embed/QYciRjRcxhE?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
   </section>

   
   <h2>Color & Hand Sketching</h2>
   <section class="gallery sketches sketching col-2 m-col-1">
         <div class="image" style="background-image: url(/static/img/collection/c24.png);" data-image="collection/c24.png"></div>
         <div class="image" style="background-image: url(/static/img/collection/c25.png);" data-image="collection/c25.png"></div>
         <div class="image" style="background-image: url(/static/img/collection/c26.png);" data-image="collection/c26.png"></div>
         <div class="image" style="background-image: url(/static/img/collection/c27.png);" data-image="collection/c27.png"></div>
         <div class="image contain" style="background-image: url(/static/img/collection/c28.png);" data-image="collection/c28.png"></div>
         <div class="image" style="background-image: url(/static/img/collection/c29.png);" data-image="collection/c29.png"></div>
         <div class="image" style="background-image: url(/static/img/collection/c30.png);" data-image="collection/c30.png"></div>
         <div class="image" style="background-image: url(/static/img/collection/c31.png);" data-image="collection/c31.png"></div>
   </section>
   

</div>