<div id="collection" class="collection project-container">
   <div class="logo t-fill"></div>
   <h2>Branding</h2>
   <br /><br />

   <!-- <div class="logo"></div> -->
   <section class="gallery sketches brand col-3 m-col-1">
         <div class="image" style="background-image: url(/static/img/c1.png);" data-image="c1.png"></div>
         <div class="image" style="background-image: url(/static/img/c2.png);" data-image="c2.png"></div>
         <div class="image" style="background-image: url(/static/img/c3.png);" data-image="c3.png"></div>
         <div class="image" style="background-image: url(/static/img/c4.png);" data-image="c4.png"></div>
         <div class="image" style="background-image: url(/static/img/c5.png);" data-image="c5.png"></div>
         <div class="image" style="background-image: url(/static/img/c6.png);" data-image="c6.png"></div>
         <div class="image" style="background-image: url(/static/img/c7.png);" data-image="c7.png"></div>
         <div class="image" style="background-image: url(/static/img/c8.png);" data-image="c8.png"></div>
         <div class="image" style="background-image: url(/static/img/c9.png);" data-image="c9.png"></div>
   </section>


   <h2>Poster</h2>
   <section class="gallery sketches poster col-2 t-col-1">
         <img src="/static/img/c10.png" />
         <img src="/static/img/c11.jpg" />
   </section>

   <!-- <img class="semi" src="img/c10.png"></img>
   <img class="semi" src="img/c11.jpg"></img> -->

   <h2>Store fixtures & Display</h2>
   <section class="gallery sketches store col-2 m-col-1">
         <div class="image" style="background-image: url(/static/img/c12.png);" data-image="c12.png"></div>
         <div class="image" style="background-image: url(/static/img/c13.png);" data-image="c13.png"></div>
   </section>
   <!-- <img class="semi" src="img/c12.png"></img>
   <img class="semi" src="img/c13.png"></img> -->

   <h2>Product & Packaging</h2>
   <section class="gallery sketches packaging col-2 m-col-1">
         <div class="image" style="background-image: url(/static/img/c14.png);" data-image="c14.png"></div>
         <div class="image" style="background-image: url(/static/img/c15.png);" data-image="c15.png"></div>
         <div class="image full" style="background-image: url(/static/img/c16.png);" data-image="c16.png"></div>
         <div class="image" style="background-image: url(/static/img/c17.png);" data-image="c17.png"></div>
         <div class="image" style="background-image: url(/static/img/c18.png);" data-image="c18.png"></div>
         <div class="image full" style="background-image: url(/static/img/c19.png);" data-image="c19.png"></div>
         <div class="image" style="background-image: url(/static/img/c20.png);" data-image="c20.png"></div>
         <div class="image" style="background-image: url(/static/img/c21.png);" data-image="c21.png"></div>
         <div class="image" style="background-image: url(/static/img/c22.png);" data-image="c22.png"></div>
         <div class="image" style="background-image: url(/static/img/c23.png);" data-image="c23.png"></div>
   </section>



   <h2>Advertising</h2>
   <!-- two video -->
   <!-- <https://youtu.be/_VifBH0eKJo>
   <https://youtu.be/QYciRjRcxhE> -->
   <section class="flex fill t-wrap">
      <div class="video">
         <iframe width="530" height="477px" src="https://www.youtube.com/embed/_VifBH0eKJo?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
      </div>

      <div class="video">
         <iframe width="530" height="477px" src="https://www.youtube.com/embed/QYciRjRcxhE?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
   </section>

   
   <h2>Color & Hand Sketching</h2>
   <section class="gallery sketches sketching col-2 m-col-1">
         <div class="image" style="background-image: url(/static/img/c24.png);" data-image="c24.png"></div>
         <div class="image" style="background-image: url(/static/img/c25.png);" data-image="c25.png"></div>
         <div class="image" style="background-image: url(/static/img/c26.png);" data-image="c26.png"></div>
         <div class="image" style="background-image: url(/static/img/c27.png);" data-image="c27.png"></div>
         <div class="image contain" style="background-image: url(/static/img/c28.png);" data-image="c28.png"></div>
         <div class="image" style="background-image: url(/static/img/c29.png);" data-image="c29.png"></div>
         <div class="image" style="background-image: url(/static/img/c30.png);" data-image="c30.png"></div>
         <div class="image" style="background-image: url(/static/img/c31.png);" data-image="c31.png"></div>
   </section>
   

</div>