<div id="guardner" class="guardner project-container">
   <div class="logo t-fill"></div>
   <h1>Guard'ner</h1>

   <!-- <h3>Overview</h3> -->
   <div class="flex even t-wrap">
      <div class="details">
         <div><span>Theme</span><strong>Keep it alive</strong></div>
         <div><span>Platform</span><strong>Ludum Dare 46</strong></div>
         <div><span>Duration</span><strong>72 hours</strong></div>
         <div><span>Team</span><strong>Jeremy Weeks & Yenny Yulianny </strong></div>

      </div>


      <div>
         <p>Hey Guard’ner, You’ve been gifted some Happy Dancing Daisies. It’s up to you to keep them watered and protected from the elements.How long can you keep them alive and dancing? Some people have had trouble with this so: To refill your water just hold the watercan under the pump.
         </p>
         
         <a class="play-it" href="http://superjai.com/ld46/" target="_blank">Play Now ></a>
      </div>
   </div>

  <!--  <h3>Background</h3>
   <section class="gallery backgrounds col-2 m-col-1">
      <img src="/static/img/B-Background-1a.png" />
      <img src="/static/img/B-Background-1b.png" />
      <img src="/static/img/B-Background-1c.png" />
      <img src="/static/img/B-Background-1d.png" />
   </section>

   <h3>Character Design (Early draft) </h3>
   <section class="gallery enemies col-4 m-col-2">
      <img src="/static/img/B-Enemy-1a.png" />
      <img src="/static/img/B-Enemy-1b.png" />
      <img src="/static/img/B-Enemy-1c.png" />
      <img src="/static/img/B-Enemy-1d.png" />
   </section>

   <h3>Character Design (Final draft) </h3>
   <section class="gallery enemies-2 col-4 m-col-2">
      <img src="/static/img/B-Enemy-2a.png" />
      <img src="/static/img/B-Enemy-2b.png" />
      <img src="/static/img/B-Enemy-2c.png" />
      <img src="/static/img/B-Enemy-2d.png" />
   </section>

   <h3>Character Design </h3>
   <section class="gallery enemies-3 col-4 m-col-2">
      <img src="/static/img/B-Enemy-3a.png" />
      <img src="/static/img/B-Enemy-3b.png" />
      <img src="/static/img/B-Enemy-3c.png" />
      <img src="/static/img/B-Enemy-3d.png" />
      <img src="/static/img/B-Enemy-3e.png" />
      <img src="/static/img/B-Enemy-3f.png" />
      <img src="/static/img/B-Enemy-3g.png" />
      <img src="/static/img/B-Enemy-3h.png" />
   </section>

   <h3>Final Game</h3>
   <img class="full" src="/static/img/b-Enemy4.png"></img> -->
</div>
