
<div id="d" class="d project-container">
   <div class="logo"></div>
   <h1>Gurame</h1>

   <!-- <h3>Overview</h3> -->
   <div class="flex even">
      <div class="details">
         <div>
            <span>Theme</span>
            <strong>Fishing</strong>
         </div>
         <div>
            <span>Platform</span>
            <strong>IOS</strong>
         </div>
         <!-- Duration <strong>72 hours</strong><br /><br /> -->
         <div>
            <span>Team</span>
            <strong>Jeremy Weeks & Yenny Yulianny</strong>
         </div>
      </div>
      <div>
         <p></p>

        <!--  Make a sacrifice and start collecting those hard-earned diamonds to pay for the next adventure.
         <br /><br />
         SKill enemies to collect the key, then find the exit.
         Purchase weapon upgrades to grow strong and delve deeper into the unkown. -->
      </div>
   </div>

   <h3>Background</h3>
   <img class="full" src="/static/img/g-1.png"></img>
   <br /><br />

   <h3>Character Design</h3>
   <img class="full" src="/static/img/g-2.png"></img>

   <h3>Treasure</h3>
   <img class="full" src="/static/img/g-3.png"></img>

   <h3>Accessory</h3>
   <img class="full" src="/static/img/g-4.png"></img>
   <br /><br />

   <h3>Iconography</h3>
   <img class="full" src="/static/img/g-5.png"></img>
   <br /><br />

   <h3>Final Game</h3>
   <img class="full" src="/static/img/g-6.png"></img>
   <br /><br />
</div>
