
<div id="d" class="d project-container">
   <div class="logo"></div>
   <h1>Gurame</h1>

   <!-- <h3>Overview</h3> -->
   <div class="flex even">
      <div class="details">
         <div>
            <span>Theme</span>
            <strong>Fishing</strong>
         </div>
         <div>
            <span>Platform</span>
            <strong>IOS</strong>
         </div>
         <!-- Duration <strong>72 hours</strong><br /><br /> -->
         <div>
            <span>Team</span>
            <strong>Jeremy Weeks & Yenny Yulianny</strong>
         </div>
      </div>
      <div>
         <p></p>

        <!--  Make a sacrifice and start collecting those hard-earned diamonds to pay for the next adventure.
         <br /><br />
         SKill enemies to collect the key, then find the exit.
         Purchase weapon upgrades to grow strong and delve deeper into the unkown. -->
      </div>
   </div>

   <h3>Background</h3>
   <div class="gallery col-2 m-col-1">
      <img src="/static/img/gurame/background-1.png" />
      <img src="/static/img/gurame/background-2.png" />
   </div>


   <h3>Character Design</h3>
   <div class="gallery col-5 m-col-3 fishes">
      <img src="/static/img/gurame/fish-1.png" />
      <img src="/static/img/gurame/fish-2.png" />
      <img src="/static/img/gurame/fish-3.png" />
      <img src="/static/img/gurame/fish-4.png" />
      <img src="/static/img/gurame/fish-5.png" />
      <img src="/static/img/gurame/fish-6.png" />
      <img src="/static/img/gurame/fish-7.png" />
      <img src="/static/img/gurame/fish-8.png" />
      <img src="/static/img/gurame/fish-9.png" />
      <img src="/static/img/gurame/fish-10.png" />
      <img src="/static/img/gurame/fish-11.png" />
      <img src="/static/img/gurame/fish-12.png" />
      <img src="/static/img/gurame/fish-13.png" />
      <img src="/static/img/gurame/fish-14.png" />
      <img src="/static/img/gurame/fish-15.png" />
   </div>

   <h3>Treasure</h3>
   <div class="gallery col-4 m-col-2 treasure">
      <img src="/static/img/gurame/treasure-1.png" />
      <img src="/static/img/gurame/treasure-2.png" />
      <img src="/static/img/gurame/treasure-3.png" />
      <img src="/static/img/gurame/treasure-4.png" />
   </div>

   <h3>Accessory</h3>
   <div class="gallery col-4 m-col-2 access">
      <img src="/static/img/gurame/access-1.png" />
      <img src="/static/img/gurame/access-2.png" />
      <img src="/static/img/gurame/access-3.png" />
      <img src="/static/img/gurame/access-4.png" />
   </div>

   <h3>Iconography</h3>
   <div class="gallery col-5 m-col-3 icon">
      <img src="/static/img/gurame/icon-1.png" />
      <img src="/static/img/gurame/icon-2.png" />
      <img src="/static/img/gurame/icon-3.png" />
      <img src="/static/img/gurame/icon-4.png" />
      <img src="/static/img/gurame/icon-5.png" />
      <img src="/static/img/gurame/icon-6.png" />
      <img src="/static/img/gurame/icon-7.png" />
      <img src="/static/img/gurame/icon-8.png" />
      <img src="/static/img/gurame/icon-9.png" />
      <img src="/static/img/gurame/icon-10.png" />
   </div>

   <h3>Final Game</h3>
   <img class="full" src="/static/img/gurame/g-6.png"></img>
   <br /><br />
</div>
