
<div id="d" class="d project-container">
   <div class="logo"></div>
   <h1>Gurame</h1>

   <!-- <h3>Overview</h3> -->
   <div class="flex even">
      <div class="details">
         <div>
            <span>Theme</span>
            <strong>Fishing</strong>
         </div>
         <div>
            <span>Platform</span>
            <strong>IOS</strong>
         </div>
         <!-- Duration <strong>72 hours</strong><br /><br /> -->
         <div>
            <span>Team</span>
            <strong>Jeremy Weeks & Yenny Yulianny</strong>
         </div>
      </div>
      <div>
         <p></p>

        <!--  Make a sacrifice and start collecting those hard-earned diamonds to pay for the next adventure.
         <br /><br />
         SKill enemies to collect the key, then find the exit.
         Purchase weapon upgrades to grow strong and delve deeper into the unkown. -->
      </div>
   </div>

   <h3>Background</h3>
   <div class="gallery col-2">
      <img src="/static/img/g-Background-1.png" />
      <img src="/static/img/g-Background-2.png" />
   </div>


   <h3>Character Design</h3>
   <div class="gallery col-5 fishes">
      <img src="/static/img/g-fishes-1.png" />
      <img src="/static/img/g-fishes-2.png" />
      <img src="/static/img/g-fishes-3.png" />
      <img src="/static/img/g-fishes-4.png" />
      <img src="/static/img/g-fishes-5.png" />
      <img src="/static/img/g-fishes-6.png" />
      <img src="/static/img/g-fishes-7.png" />
      <img src="/static/img/g-fishes-8.png" />
      <img src="/static/img/g-fishes-9.png" />
      <img src="/static/img/g-fishes-10.png" />
      <img src="/static/img/g-fishes-11.png" />
      <img src="/static/img/g-fishes-12.png" />
      <img src="/static/img/g-fishes-13.png" />
      <img src="/static/img/g-fishes-14.png" />
      <img src="/static/img/g-fishes-15.png" />
   </div>

   <h3>Treasure</h3>
   <div class="gallery col-4 treasure">
      <img src="/static/img/g-Treasure-1.png" />
      <img src="/static/img/g-Treasure-2.png" />
      <img src="/static/img/g-Treasure-3.png" />
      <img src="/static/img/g-Treasure-4.png" />
   </div>

   <h3>Accessory</h3>
   <div class="gallery col-4 access">
      <img src="/static/img/g-access-1.png" />
      <img src="/static/img/g-access-2.png" />
      <img src="/static/img/g-access-3.png" />
      <img src="/static/img/g-access-4.png" />
   </div>

   <h3>Iconography</h3>
   <div class="gallery col-5 icon">
      <img src="/static/img/g-Icon-1.png" />
      <img src="/static/img/g-Icon-2.png" />
      <img src="/static/img/g-Icon-3.png" />
      <img src="/static/img/g-Icon-4.png" />
      <img src="/static/img/g-Icon-5.png" />
      <img src="/static/img/g-Icon-6.png" />
      <img src="/static/img/g-Icon-7.png" />
      <img src="/static/img/g-Icon-8.png" />
      <img src="/static/img/g-Icon-9.png" />
      <img src="/static/img/g-Icon-10.png" />
   </div>

   <h3>Final Game</h3>
   <img class="full" src="/static/img/g-6.png"></img>
   <br /><br />
</div>
