<nav>
  <a class="yy" href="/">Yenny Yulianny</a>
  <!-- <a class="" href="index.html">Home</a> -->
  <div class="nav-menu">
    <div class="dropdown" href="#projects">Projects
      <ul>
        <li><a href="/sf-gov">SF.Gov</a></li>
        <li><a href="/onia">Onia</a></li>
        <li><a href="/mood-mod">Mood Mod</a></li>
        <li><a href="/pinecrest">Pinecrest Diner</a></li>
        <li><a href="/terra">Terra Sonoma</a></li>
        <li><a href="/pinecrest-bc">Pinecrest</a></li>
        <li><a href="/burmese">Burmese Kitchen</a></li>
        <li><a href="/photography">Photography</a></li>
        <li><a href="/collection">Collection</a></li>
        <li><a href="/blalb">Blalb</a></li>
        <li><a href="/mall">Mall-icious Intent</a></li>
        <li><a href="/deadly">Deadly Debt</a></li>
        <li><a href="/gurame">Gurame</a></li>
      </ul>
    </div>
    <!-- <a class="" href="Visual Design">Visual</a> -->
    <a class="" href="/about">About</a>
    <a class="" target="_blank" href="/static/YY-Resume.pdf">Resume</a>
  </div>
</nav>