<nav>
  <a class="yy" href="/">Yenny Yulianny</a>
  <!-- <a class="" href="index.html">Home</a> -->
  <div class="nav-menu">
    <div class="dropdown" href="#projects">Projects
      <div class="project-nav">
        <ul>
          <li class="title">Case Studies</li>
          <li><a href="/project-m">Project M</a></li>
          <li><a href="/sf-gov">SF.Gov</a></li>
          <li><a href="/onia">Onia</a></li>
          <li><a href="/mood-mod">Mood Mod</a></li>
          <li><a href="/pinecrest">Pinecrest</a></li>
        </ul>
        <ul>
          <li class="title">Branding</li>
          <li><a href="/terra">Terra Sonoma</a></li>
          <li><a href="/pinecrest-bc">Pinecrest</a></li>
          <li><a href="/burmese-kitchen">Burmese Kitchen</a></li>
        </ul>
        <ul>
          <li class="title">Games</li>
          <li><a href="/guardner">Guard'ner</a></li>
          <li><a href="/blalb">Blalb</a></li>
          <li><a href="/mallicious-intent">Mall-icious Intent</a></li>
          <li><a href="/deadly-debt">Deadly Debt</a></li>
          <li><a href="/gurame">Gurame</a></li>
        </ul>
        <ul>
          <li class="title">Other</li>
          <li><a href="/photography">Photography</a></li>
          <li><a href="/collection">Collection</a></li>
        </ul>
      </div>
    </div>
    <!-- <a class="" href="Visual Design">Visual</a> -->
    <a class="" href="/about">About</a>
    <a class="" target="_blank" href="/static/YY-Resume.pdf">Resume</a>
  </div>
</nav>