   <div id="ipmd" class="ipmd project-container">
      <div class="logo"></div>
      <!--    <h1>Project M</h1>
      -->
      <!-- <div class="logo-buffer"></div> -->
      <!-- <section class="project-m-title"> -->
      <div class="video">
         <iframe width="1060" height="480" src="https://www.youtube.com/embed/hCmhc7Cje5k?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         
      </div>
      <!-- </section> -->
      <h2>IPMD</h2>

      <!-- <h3>OVERVIEW</h3> -->
      <!-- <p></strong>IPMD is a AI-Human Interaction platform</strong> with the mission to work towards the common good of humankind, to promptly develop products and technology that will boldly march into territories of unmet and/or under-served medical need in order to see that all may live a long healthy life without fear of serious disease. 
      </p>
      <br>
      <br> -->

      <section class="problem-solution">
         <div class="t-wrap">
            <span class="header">OVERVIEW</span>
            <span class="body">
               <ul>
                  <ul><strong class="company-strong">IPMD is a AI-Human Interaction platform</strong> with the mission to work towards the common good of humankind, to promptly develop products and technology that will boldly march into territories of unmet and/or under-served medical need in order to see that all may live a long healthy life without fear of serious disease.
               </ul>
            </span>
         </div>
      </section>

      <div class="flex even background t-wrap">
         <p>
            <span class="sub-header">Mission</span>
            <br><br>
            <strong class="company-strong">IMPD’s mission is to work for the common good of humanity</strong>by promptly developing products and technology that will boldly march into territories of unmet and under-served medical needs of people. By doing so IMPD hopes to  see that everyone may live a long and healthy life without fear of serious disease.
         </p>
         <p>
            <span class="sub-header">Objectives</span>
            <br><br>
            IMPD believes in improving people’s overall health with accurate and early detection of diseases and highly specialized targeted therapies. This approach to treatment of diseases is expected to minimize side effects and maximise chances of success. <strong class="company-strong">IMPD believes that nothing is impossible therefore encourages innovation in the discovery, development and commercialization of breakthrough products.</strong>
         </p>
      </div>
      <br><br><br><br>
      <hr>
      <section class="problem-solution">
         <div class="t-wrap">
            <span class="header">PROBLEM</span>
            <span class="body">
               <ul>
                  <ul><strong>IMPD needs to come up with an efficient and effective way to inform potential users about its products.</strong> This problem needs to be solved by engaging users’ curiosity and triggering them to sign up to the platform.
               </ul>
            </span>
         </div>
         <div class="t-wrap"><span class="header">CHALLENGE</span><span class="body">The current website is <strong>outdated, uninviting and heavy on text.</strong> The main challenge is the lack of landing page, clear information architecture and confusing user journey. Due to this challenge users of this site struggle to understand what IMPD is offering them.</span></div>
         <div class="t-wrap"><span class="header">SOLUTION</span><span class="body">Three different logos are displayed all over the current website, therefore it is imperative to start with the brand identity, followed by the landing page and the main IMPD content based on IA, MVP and new design. IMPD’s new responsive website features a brand new aesthetically pleasing design, illustration style, concise information architecture and hierarchy across the entire platform.</span></div>
      </section>
      <hr>

      <!-- <h3>IPMD</h3>
      <div class="flex even background t-wrap">
         <p>
            <span class="sub-header">Problem</span>
            <br><br>
            IMPD needs to come up with an efficient and effective way to inform potential users about its products. This problem needs to be solved by engaging users’ curiosity and triggering them to sign up to the platform.
         </p>
         <p>
            <span class="sub-header">Challenge</span>
            <br><br>
            The current website is outdated, uninviting and heavy on text. The main challenge is the lack of landing page, clear information architecture and confusing user journey. Due to this challenge users of this site struggle to understand what IMPD is offering them.
         </p>
      </div>
    -->
     
      <h3>Creative Process</h3>
      <div class="creative-process-desktop">
         <div class="creative-process even t-wrap">
            <p>
               <strong>EMPATHIZE</strong>
               <br>Define problems & goals
            </p>
            <p>
               <strong>IDEATE</strong>
               <br>Feature Prioritization (MVP)
               <br>Information Architecture
               <br>Variation Sketches
            </p>
            <p>
               <strong>TEST</strong>
               <br>Hi-Fi Prototype
               <br>Iteration
               <br>Next Steps
            </p>
         </div>
         <!-- <img class="full" src="/dynamic/c_scale,w_1020/img/project-m/creative-process.png" /> -->
         <img class="full" src="/static/img/ipmd/creative-process.png" />

         <div class="creative-process-2 even t-wrap">
            <p>
               <strong>DEFINE</strong>
               <br>Research
               <br>Persona
               <br>User Journey
               <br>Analysis & Insights
            </p>
            <p>
               <strong>PROTOTYPE</strong>
               <br>Wireframes
               <br>Clickable Prototype
               <br>Usability Testing
            </p>
         </div>
      </div>
      <div class="creative-process-mobile even t-wrap">
         <p>
            <strong>EMPATHIZE</strong>
            <br>Define problems & goals
         </p>
         <p>
            <strong>DEFINE</strong>
            <br>Research
            <br>Persona
            <br>User Journey
            <br>Analysis & Insights
         </p>
         <p>
            <strong>IDEATE</strong>
            <br>Feature Prioritization (MVP)
            <br>Information Architecture
            <br>Variation Sketches
         </p>
         <p>
            <strong>PROTOTYPE</strong>
            <br>Wireframes
            <br>Clickable Prototype
            <br>Usability Testing
         </p>
         <p>
            <strong>TEST</strong>
            <br>Hi-Fi Prototype
            <br>Iteration
            <br>Next Steps
         </p>
      </div>
      <h3>Persona</h3>
      <p>Understanding user base and target audience is a key part of creating a successful product. After we identify and understand our users and their needs, then we can create a product custom tailored to our target audience. In this case, I identified three categories of people that might fit IMPD’s target users: <strong>students, young professionals and middle-aged people.</strong> 
      </p>
      <!-- /dynamic/c_fit,w_310,h_216/img/ipmd/persona-1.png />
      /dynamic/c_fit,w_310,h_216/img/ipmd/persona-2.png />
      /dynamic/c_fit,w_310,h_216/img/ipmd/persona-3.png /> -->



      <div class="personas gallery comparative col-3 m-col-1">
         <div class="persona">
            <div class="center"><img class="border" src="/static/img/ipmd/persona-1.png" /></div>
            <strong>Valery Lynn</strong>
            <br>Student, 20 years old, Berkeley CA <br>
            <br><strong>Behaviors</strong>
            <br>Love thrift shop
            <br>Foodcourt lover
            <br>Easy going
            <br>Careful spender <br>
            <br><strong>Needs & Goals</strong>
            <br>Finish college in three years
            <br>Keep up with the new trend
            <br>Coupe with anxiety
            <br>Optimistic about the future <br>
            <br><strong>Frustrations</strong>
            <br>Stress from classes
            <br>Anxiety around stranger
            <br>Worry about her weight
            <br>Don’t feel attractive 
         </div>
         <div class="persona">
            <div class="center"><img class="border" src="/static/img/ipmd/persona-2.png" /></div>
            <strong>Zachary Finn</strong>
            <br>Engineer, 36 years old, San Jose CA <br>
            <br><strong>Behaviors</strong>
            <br>Buys heavily online
            <br>Confidence in his ability
            <br>Everything should be easier
            <br>Impulsive buyer <br>
            <br><strong>Needs & Goals</strong>
            <br>Promotion within a year
            <br>Family in the next five years
            <br>Event-based reminder about technology
            <br>Confident and successful <br>
            <br><strong>Frustrations</strong>
            <br>Security/trust issues
            <br>Perfection is drawn his energy
            <br>Dislikes personal communication
            <br>Doesn’t work gatdet stress him out
         </div>
         <div class="persona">
            <div class="center"><img class="border" src="/static/img/ipmd/persona-3.png" /></div>
            <strong>Sandra Petit</strong>
            <br>Homemaker, 45 years old, San Mateo CA <br>
            <br><strong>Behaviors</strong>
            <br>Everything organic or grass feed
            <br>Frequently buys gifts for friends and family
            <br>Love indoor shopping
            <br>won’t think twice for self wellness <br>
            <br><strong>Needs & Goals</strong>
            <br>Balance and stress relieve
            <br>Inspiration for a healthy lifestyle
            <br>Activity that improves her confidence
            <br>Latest and trending design products<br>
            <br><strong>Frustrations</strong>
            <br>Lack of confident
            <br>Not enough time for herself
            <br>Products not matching her expectation
            <br>Pressure (needs to make a decision fast. <br>
            But not sure which option to select)
         </div>
      </div>
      <h3>JOURNEY MAP</h3>
      <!-- <div class="journey-map"> -->
      <p>In this journey map, I reveal problems users are likely to experience when they visit the IMPD website and also solutions to these problems. For a website to be successful it is important for us to understand users' pain points through the journey map. After these pain points are identified, then we can <strong>create a better way to navigate our user and provide the best experience possible.</strong> 
      </p>  
      <!-- </div> -->
      <!-- <img class="full" src="/dynamic/c_scale,w_1020/img/ipmd/journey-map.png" /> -->
      <img class="full" src="/static/img/ipmd/journey-map.png" />

      <h3>INFORMATION ARCHITECTURE</h3>
      <!-- <div class="info-a even t-wrap"> -->
      <p>To gather information I did six contextual user interviews including affinity mapping and card short. From this research, I gain my insight and categories from the most essential like: <strong>must have to won’t have</strong> at this time. From here I focused on the viable page to the IPMD website, which is the landing page, log in, and clear information about the product page.
      </p>
      <!-- <img class="full" src="/dynamic/c_scale,w_1020/img/ipmd/ai.png" /> -->
      <img class="full" src="/static/img/ipmd/ia.png" />


      <h3>MVP (minimum viable product)</h3>
      <div class="mvp even t-wrap">
      <p><strong>Must have</strong> a landing page, products, leadership, about the company, and log in.<br> 
      <br><strong>Should have</strong> a donate page, history, career, contact us, and link to social media.<br>
      <br><strong>Could have</strong> movies or videos about IPMD and its products.<br>
      <br><strong>Won’t have</strong> the chatbot, search, user review page or automatic email news to user at this time.</p></div>


      <h3>Sketches</h3>
      <p>In reference to those guides, I have created a few variations of sketches that will stear IMPD goals and objectives in the right direction. The purpose of these sketches is to show how the landing page functions and how it will lead the user to sign up or use the product. After sketches and wireframes were completed then I moved to the prototype phase that would eventually get finalized and sent to the engineering team.
      </p><br>
      <!-- <div class="sketches-desktop">
         <div class="sketches even t-wrap">
            <p><strong>EMPATHIZE</strong></p>
            <p><strong>IDEATE</strong></p>
            <p><strong>TEST</strong></p>
            </p>
         </div>
      </div> -->

      <div class="gallery comparative col-3 m-col-1">
         <div class="title">SFDPH Gender Health</div>
         <img class="border" src="/static/img/ipmd/sketch1.png" />
          <div class="title">SF Health Network</div>
         <img class="border" src="/static/img/ipmd/sketch2.png" />
         <img class="border" src="/static/img/ipmd/sketch3.png" />
      </div>
      <!-- <div class="gallery comparative col-3 m-col-1">
         <img class="border" src="/dynamic/c_fit,w_310,h_216/img/ipmd/sketch1.png" />
         <img class="border" src="/dynamic/c_fit,w_310,h_216/img/ipmd/sketch2.png" />
         <img class="border" src="/dynamic/c_fit,w_310,h_216/img/ipmd/sketch3.png" />
      </div> -->


      <h3>NAV BAR</h3>
      <p>Following the new IPMD Information architecture, I <strong>added a user login and removed the home button,</strong> because it didn't fit the current trend. Also most users know that in order to go back home they just need to click the brand icon.</p><br>
      <div class="gallery before-after comparative col-2 m-col-1">
         <div class="full"><img class="border" src="/static/img/ipmd/nav-1.png" /></div>
         <div class="full"><img class="border" src="/static/img/ipmd/nav-2.png" /></div>
      </div>

      <h3>Landing page</h3>
      <p><strong> Rejuvenating the IPMD brand</strong>  is critical to make the landing page more attractive. I added hero images, <strong> changed italic heading,</strong>  created a hierarchy between typography and images through the platform.</p><br>
      <div class="gallery before-after comparative col-2 m-col-1">
         <div class="full"><img class="border" src="/static/img/ipmd/landing-1.png" /></div>
         <div class="full"><img class="border" src="/static/img/ipmd/landing-2.png" /></div>
      </div>

      <h3>Leadership</h3>
      <p>The new leadership will have a <strong> consistent voice and tone throughout the page.</strong>  To make the page clearer and more concise, I split it into three columns: with picture, title,  and a short description.</p><br>
      <div class="gallery before-after comparative col-2 m-col-1">
         <div class="full"><img class="border" src="/static/img/ipmd/leadership-1.png" /></div>
         <div class="full"><img class="border" src="/static/img/ipmd/leadership-2.png" /></div>
      </div>

      <h3>Footer</h3>
      <p>I added IPMD <strong> contact information</strong>  and links to all of their <strong> social media</strong>  over the dark background to indicate a separation that information is part of the footer.</p><br>
      <div class="gallery before-after comparative col-2 m-col-1">
         <div class="full"><img class="border" src="/static/img/ipmd/footer-1.png" /></div>
         <div class="full"><img class="border" src="/static/img/ipmd/footer-2.png" /></div>
      </div>


      <h3>Features</h3>
      <p>Many sections have been added to the new website such as a <strong>dropdown menu, pricing, video, about the company, and a donate page.</strong> From now on all the IPMD products will be under the “projects” section, because this way it is more efficient and cleaner. It is also easier for users to find a product they need. To help the company generate an additional revenue, a floating donation button has also been added to the platform.</p><br>
      <div class="features-desktop">
         <!-- <div class="features t-wrap">
            <p>Navigation</p>
            <p>Pricing</p>
            <p>About us</p>
         </div> -->
         <div class="gallery comparative col-3 m-col-1">
            <div>Navigation<img src="/static/img/ipmd/feature-navigation.png" /></div>
            <div>Pricing<img src="/static/img/ipmd/feature-pricing.png" /></div>
            <div>About us<img src="/static/img/ipmd/feature-about-us.png" /></div>
            <div>Donate Button<img src="/static/img/ipmd/feature-donate-button.png" /></div>
            <div>Donate Page<img src="/static/img/ipmd/feature-donate-page.png" /></div>
            <div>Video<img src="/static/img/ipmd/feature-video.png" /></div>
         </div>
      </div>

      <!-- <div class="features-desktop">
         <div class="features t-wrap">
            <p>Donate Button</p>
            <p>Donate Page</p>
            <p>Video</p>
         </div>
         <div class="gallery comparative col-3 m-col-1">
            <img src="/static/img/ipmd/feature-donate-button.png" />
            <img src="/static/img/ipmd/feature-donate-page.png" />
            <img src="/static/img/ipmd/feature-video.png" />
         </div>
      </div> -->

      <!-- <div class="gallery comparative col-3 m-col-1">
         <img src="/dynamic/c_fit,w_310,h_190/img/ipmd/feature-navigation.png" />"
         <img src="/dynamic/c_fit,w_310,h_190/img/ipmd/feature-pricing.png" />"
         <img src="/dynamic/c_fit,w_310,h_190/img/ipmd/feature-about-us.png" />"
         <img src="/dynamic/c_fit,w_310,h_190/img/ipmd/feature-donate-button.png" />"
         <img src="/dynamic/c_fit,w_310,h_190/img/ipmd/feature-donate-page.png" />"
         <img src="/dynamic/c_fit,w_310,h_190/img/ipmd/feature-video.png" />" -->

      <h3>My Role</h3>
      <p>I was the sole designer for this project and participated early on starting from <strong>ideation, research and problem finding.</strong> I was also responsible for <strong>evaluation, finding solutions and implementation</strong> by creating a digital wireframe and hi-fi prototype to submit to the IMPD engineering team.</p>

      <h3>Next Steps</h3>
      <p>Most of the prototypes are already finished. The essential content needs to be updated by the CEO and the marketing team. At the moment <strong>the IMPD’s engineering team is working on the new website and platform,</strong> which means that they will not use Weebly to host their website in the future.</p>
   </div>
