<div class="sections galleries">
  <section>
    <div class="hero">
      <img class="no-border" src="/static/img/iq-marketer/big-thumbs/hero.png" alt="">
      <div class="title">
        <div>
          <h1>IQ Marketer – Campaign Creation</h1>
          <p>Integrated campaign creation into IQ to reduce inefficiencies and eliminate the need to switch between multiple tools. The new end-to-end experience supports both email and event campaigns, allowing marketers to plan, create, and launch in one place.</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <video autoplay muted playsinline>
      <source src="/static/img/iq-marketer/videos/test.mp4" type="video/mp4">
    </video>
  </section>
  <section>
    <h2>Context & Collaboration</h2>
    <div class="grid bg-fill">
      <div>
        <h3>Overview</h3>
        <p><strong>IQ Marketer</strong> is designed to streamline workflows for marketers who currently rely on multiple tools and manual processes for their daily tasks. Our goal is to create a seamless, integrated experience that enhances efficiency and collaboration between marketing and sales teams.</p>
      </div>
      <div>
        <h3>TEAMS</h3>
        <div>
          <div><strong>Product, UX, Visual Design</strong> Yenny Y & Zitian Zhou</div>
          <div><strong>Content Designer</strong> Jessica Gonsiewski</div>
          <div><strong>Product owner</strong> Hannah Cox & Ana Rachel Garcia </div>
          <div><strong>Project length</strong> Three months</div>
        </div>
      </div>
    </div>
    <div class="grid bg-fill">
      <div>
        <h3>PRIMARY OBJECTIVE</h3>
        <p><strong>Deliver integrated sales, marketing and execution capabilities that drive front office efficiencies and increase time focused on clients</strong></p>
      </div>
      <div>
        <h3>DIGITAL MARKETING OBJECTIVE</h3>
        <p>Digital Marketing and Client Engagement Leveraging Digital Marketing capabilities to <strong>support world class client engagement and acquisition</strong>—increasing marketing's influence on new pipeline and deepening within existing relationships</p>
      </div>
    </div>
  </section>
  <hr>
  <section>
    <div class="details">
      <div>
        <h3>PROBLEM</h3>
        <p>Marketers needs to <strong>navigate multiple fragmented tools and inefficient processes to manage their daily tasks.</strong> With Salesforce being phased out the following year, integrating campaign creation into IQ Marketer is essential to streamline workflows and support teams like Marketing Delivery or marketing automation specialists.</p>
      </div>
      <div>
        <h3>CHALLENGE</h3>
        <p><strong>Merging three CRMs—Salesforce, Dash Nominator, and GEM—into IQ for Marketing delivery team and integrating Stova for event campaigns or event planner personas.</strong></p>
      </div>
      <div>
        <h3>HOW MIGHT WE</h3>
        <p><strong></strong>How might we</strong> integrate fragmented tools like Dash Nominator, Salesforce, Gem, and Stova into a single IQ platform to streamline marketers’ daily tasks efficiently?</p>
      </div>
      <div>
        <h3>SOLUTION</h3>
        <p>Our primary goal is to develop campaign creation capabilities within IQ Marketer to replace Salesforce’s functionalities and better support the sales and banker teams. To ensure our design meets business needs, we collaborate closely with product marketing to define workflows, pain points, and requirements while considering scalability. </p>
      </div>
    </div>
  </section>
  <hr>
  <section>
    <div class="title" style="gap: 16px;">
      <h2>Design Strategy & Process</h2>
      <p>The 5 D’s of Design Thinking Methodology</p>
      <img class="fit no-border" src="/static/img/iq-marketer//big-thumbs/strategy.png" alt="">
    </div>
  </section>
  <section>
    <div class="title">
      <h3>Personas</h3>
      <p>We focused on the Marketing Automation Strategist and Strategic Event Planner because they own campaign creation and event management, enabling bankers to focus on nominating clients.</p>
    </div>
    <div class="grid">
      <img src="/static/img/iq-marketer//thumbs/persona-1.png" alt="">
      <img src="/static/img/iq-marketer//thumbs/persona-2.png" alt="">
    </div>
  </section>
  <section>
    <div class="title">
      <h3>ENTRY POINTS</h3>
      <p>We defined distinct capabilities for Bankers and Marketers within the IQ Shell so each role could focus on the tasks most relevant to them. Although we designed an information architecture for a dedicated Marketer experience, it wasn’t implemented in this phase due to resource constraints. Instead, both roles enter through the same path—IQ Shell → Engagement Center → Campaign tab—where the experience adapts based on whether the user is a Banker or a Marketer. This helped us preserve role-specific functionality without adding unnecessary complexity.</p>
    </div>
    <div class="grid">
      <div>
        <h4>Banker</h4>
        <img src="/static/img/iq-marketer//thumbs/banker.png" alt="">
      </div>
      <div>
        <h4>Marketer</h4>
        <img src="/static/img/iq-marketer//thumbs/marketer.png" alt="">
      </div>
    </div>
  </section>
  <section>
    <div class="title">
      <h3>TARGET FLOW</h3>
      <p>The target flow integrates Salesforce, Dash Nominator, and GEM into the IQ platform, giving marketers a single, unified interface to create campaigns, manage events, handle nominations, and process approval requests seamlessly.</p>
    </div>
    <div class="bg-fill">
      <img class="fit no-border" src="/static/img/iq-marketer//big-thumbs/target-flow.png" alt="">
    </div>
  </section>
  <section>
    <div class="title">
      <h3>CONTENT AUDIT</h3>
      <p>Partnering with a content designer, we audited terms and use cases across Salesforce, Dash Nominator, GEM, and Stova. Our goal was to ensure consistency and standardize terminology across all tools, aligning with global banking or IQ platform standards—whether in form fields or on campaign detail pages.</p>
    </div>
    <div class="grid">
      <div>
        <h4>Email</h4>
        <img src="/static/img/iq-marketer//thumbs/email.png" alt="">
      </div>
      <div>
        <h4>Event</h4>
        <img src="/static/img/iq-marketer//thumbs/event.png" alt="">
      </div>
      <div>
        <h4>Email Details </h4>
        <img src="/static/img/iq-marketer//thumbs/email-details.png" alt="">
      </div>
      <div>
        <h4>Event Details</h4>
        <img src="/static/img/iq-marketer//thumbs/event-details.png" alt="">
      </div>
    </div>
  </section>
  <section>
    <h2>SYSTEM & EXPERIENCE DESIGN</h2>
    <div class="title">
      <h3>DESIGN SYSTEM</h3>
      <p>To ensure consistency between the Banker and Marketer interfaces during the SALT migration, I audited components, reviewed files and use cases, and collaborated closely with the design system team. The Banker UI was a mix of old and new components, while the Marketer interface adopted the latest version. By aligning both sides, we created scalable, consistent designs that saved developer time and made it easier for the team to adhere to the new design system standards.</p>
    </div>
    <div class="grid">
      <div>
        <h4>File Drop Zone</h4>
        <img src="/static/img/iq-marketer//thumbs/file-drop-zone.png" alt="">
      </div>
      <div>
        <h4>Tabs</h4>
        <img src="/static/img/iq-marketer//thumbs/tabs.png" alt="">
      </div>
      <div>
        <h4>Multiselect</h4>
        <img src="/static/img/iq-marketer//thumbs/multiselect.png" alt="">
      </div>
      <div>
        <h4>Calendars</h4>
        <img src="/static/img/iq-marketer//thumbs/calendars.png" alt="">
      </div>
      <div>
        <h4>Toast Messages </h4>
        <img src="/static/img/iq-marketer//thumbs/toast-messages.png" alt="">
      </div>
      <div>
        <h4>Combo Box</h4>
        <img src="/static/img/iq-marketer//thumbs/combo-box.png" alt="">
      </div>
      <div>
        <h4>Color Palette</h4>
        <img src="/static/img/iq-marketer//thumbs/color-pallette.png" alt="">
      </div>
      <div>
        <h4>Dataviz Colors</h4>
        <img src="/static/img/iq-marketer//thumbs/dataviz-colors.png" alt="">
      </div>
    </div>
  </section>
  <section>
    <div class="title">
      <h3>CAMPAIGN & EVENT FORMS</h3>
      <p>The Campaign Creation Form, designed specifically for iQ marketers, transforms the way campaigns and events are planned and managed. Built around the marketer’s journey, it provides a clear, step-by-step process for essential tasks. From gauging nomination ranges to scheduling key phases like nominations, email dispatch, and campaign duration, the form puts everything marketers need right at their fingertips—making campaign management faster, easier, and more intuitive.</p>
    </div>
    <video autoplay muted playsinline>
      <source src="/static/img/iq-marketer/videos/test.mp4" type="video/mp4">
    <video autoplay muted playsinline>
      <source src="/static/img/iq-marketer/videos/test.mp4" type="video/mp4">
    </video>
  </section>
  <section>
    <div class="title">
      <h3>CAMPAIGN & EVENT DETAILS</h3>
      <p>Users can view all details related to a specific campaign—whether email or event. From nominating clients and editing campaigns to managing campaign members, approval queues, and participants, users have full visibility. They can also view charts and graphs, and upload files associated with the campaign, all in one place.</p>
    </div>
    <div class="grid">
      <div>
        <h4>Campaign</h4>
        <img src="/static/img/iq-marketer//thumbs/campaign.png" alt="">
      </div>
      <div>
        <h4>Event</h4>
        <img src="/static/img/iq-marketer//thumbs/event-2.png" alt="">
      </div>
    </div>
  </section>
  <section>
    <div class="title">
      <h3>CAMPAIGN & EVENT NOMINATIONS</h3>
      <p>In addition to campaign creation, we introduced a Nominate to Campaign feature to address a key pain point around lead nomination. Marketers now have four flexible and intuitive ways to nominate leads or contacts:</p>
      <ul>
        <li><strong>Individual Search:</strong> Find a lead or contact by name.</li>
        <li><strong>Bulk Upload:</strong> Upload a file containing multiple clients at once.</li>
        <li><strong>Import from Campaign:</strong> Pull members from an existing campaign into a new one, saving time.</li>
        <li><strong>Build Your Audience:</strong> Customize searches to screen and select leads and contacts.</li>
      </ul>
    </div>
    <div class="grid" style="--bg-color: #fffbeb;">
      <div class="bg-fill slim">
        <h4>User flow</h4>
        <img class="contain no-border" src="/static/img/iq-marketer//thumbs/user-flow.png" alt="">
      </div>
      <div class="bg-fill">
        <h4>Nomination flow</h4>
        <img class="contain no-border" src="/static/img/iq-marketer//thumbs/nomination-flow.png" alt="">
      </div>
    </div>
    <video autoplay muted playsinline>
      <source src="/static/img/iq-marketer/videos/test.mp4" type="video/mp4">
    </video>
  </section>
  <section>
    <div class="title">
      <h3>EVENT WAITLIST</h3>
      <p>For in-person or event campaigns, we introduced an Approval Queue  (previously known as the waitlist) to bring clarity and structure to the approval process while empowering marketers to manage attendance effectively. In this flow:</p>
      <ul>
        <li>Event marketers can nominate members directly into the queue.</li>  
        <li>They can assign specific approvers responsible for reviewing nominations.</li>  
        <li>Approvers review nominations and update member status from Pending Review to Approved as appropriate.</li>  
        <li>Event managers can then move approved members into the main campaign list, considering factors like event capacity, line of business, or other internal criteria.</li>  
      </ul>
    </div>
    <div class="grid grid-3 tall">
      <img src="/static/img/iq-marketer//thumbs/event-waitlist-1.png" alt="">
      <img src="/static/img/iq-marketer//thumbs/event-waitlist-2.png" alt="">
      <img src="/static/img/iq-marketer//thumbs/event-waitlist-3.png" alt="">
    </div>
    <video autoplay muted playsinline>
      <source src="/static/img/iq-marketer/videos/test.mp4" type="video/mp4">
    </video>
  </section>
  <section>
    <div class="title">
      <h3>DELIVERY & IMPLEMENTATION</h3>
      <p>We iterated on the campaign creation workflow based on user and stakeholder feedback, refining designs to better meet marketer needs. Key enhancements included form filling, editing, deleting, file uploads, and handling errors in multiple member nominations. We consolidated processes from Salesforce, Dash Nominator, and GEM into a single IQ Marketer platform, ensuring a smoother, more intuitive workflow.</p>
      <p>We also conducted user testing with several marketers—feedback was overwhelmingly positive, with users finding the UI intuitive and tasks easier to complete. Areas needing clarification, such as required vs. optional fields, time inputs, and terminology, were addressed and improvements were implemented within our scope.</p>
    </div>
    <img class="fit no-border" src="/static/img/iq-marketer//big-thumbs/delivery.png" alt="">
    <div class="grid bg-fill">
      <div>
        <h3>IMPACT & RESULTS</h3>
        <ul>
          <li>Streamline workflows to reduce manual effort</li>
          <li>Enhance UX and campaign execution</li>
          <li>Increase marketer efficiency</li>
          <li>Strengthen marketing-sales collaboration</li>
        </ul>
      </div>
      <div>
        <h3>NEXT STEPS</h3>
        <ul>
          <li>Continue user validation</li>
          <li>Define MVP scope and long-term vision</li>
          <li>Optimize workflows through usability testing</li>
          <li>Strengthen cross-team collaboration</li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <div class="title">
      <h3>REFLECTION</h3>
      <p>This project highlights the value of cross-team collaboration, bringing together design, research, content, and product marketing teams to align the needs of diverse stakeholders—from bankers and sales enablement to marketers and event planners. Together, we merged three CRMs (Customer Relationship Management systems.) into a single IQ platform, developed marketer-focused campaign creation tools, and built a more integrated and effective system. IQ Marketer will transform how marketers manage campaigns, equipping them with the tools needed to drive better business outcomes.</p>
    </div>
  </section>
</div>