
<div id="mall" class="mall project-container">
   <div class="logo"></div>
   <h1>Mall-icious Intent</h1>

   <!-- <h3>Overview</h3> -->

   <div class="flex even">
      <div class="details">
         <div><span>Theme</span><strong>Start with nothing</strong></div>
         <div><span>Platform</span><strong>Ludum Dare 45</strong></div>
         <div><span>Duration</span><strong>72 hours</strong></div>
         <div><span>Team</span><strong>Yenny Yulianny, Sheena Marquez, Olivia Weeks, 
         Pip Reyes & Jeremy Weeks</strong></div>

      </div>

      <div>
         <p><strong>The soul collection deadline is today! And you have no souls!</strong></p>
         
         <p>The player plays as a soul reaper. Head over to the busiest place you know and collect as many souls as possible before a deadline. Otherwise, you will get fire. </p>
         
         <p>Steal human souls and avoid their ethereal bodyguards. The humans can’t see you, but their protectors can. How many souls can you collect in Mall-icious Intent?</p>
         <a class="play-it" href="http://superjai.com/ld45/" target="_blank">Play Now ></a>
      </div>
   </div>

   <h3>Background & Store Sign</h3>
   <img class="full" src="/static/img/mall-1.png"></img>
   <br /><br />
   <img class="full" src="/static/img/mall-2.png"></img>
   <br /><br />
   <img class="full" src="/static/img/mall-3.png"></img>
   <br /><br />
   <h3>Character Design</h3>
   <img class="full" src="/static/img/mall-4.png"></img>

   <h3>Game UI</h3>
   <img class="full" src="/static/img/mall-5.png"></img>

   <h3>Final Game</h3>
   <img class="full" src="/static/img/mall-6.png"></img>
   <br /><br />
   <img class="full" src="/static/img/mall-7.png"></img>
</div>
