
<div id="onia" class="onia project-container">
   <div class="logo"></div>
   <h1>Onia</h1>


   <div class="quote">
      “Millennials and women are the new wave in wine drinkers”
      <span>-Orange Coast Winery-Douglas Wiens-</span>
   </div>

   <h3>Overview</h3>
   <div class="flex even">
      <p>
         The wine consumption has risen to the sales tune of $32 billion spent annually. 
         <br /><br />
         Millennials drank 159.6 million cases of wine in 2015, an average of 2 cases apiece 
         <br /><br />
         30% of those who consume wine several times per week (aka high-frequency drinkers) were Millennials
      </p>

      <p>
         <strong>Millennials drink more wine than any other generation.</strong>
         <br /><br />
         The spike of wine consumption and expensive taste by millennials is flourished wine industry. From <strong>organic, cannabis infusion, vegan, and sustainability.</strong> Millennials also facing challenges when it comes to purchasing wine, too many options to choose. From the type of the wine (red or white), region (domestic or overseas country and old world or new world), label and prices.
      </p>
   </div>

   <h3>Process</h3>
   <img class="full" src="/static/img/O-Process.png"></img>

   <h3>Research</h3>
   <p>To create this app from ground zero, I start conducted user interviews with six people to discover how, where and what kind of challenge they experienced when purchasing a wine.</p>

   <h3>Insight</h3>
   <div class="flex even background">
      <p>
         <strong>Some users purchase their wine online.</strong>
         <br />
         Most of the users spend between $10-$20 for a bottle of wine, $20 above is for a special occasion. 
      </p>

      <p>
         <strong>Millennials often experience a difficulty to pick up wine from the store:</strong>
         <br /><br />
         Too many options.
         <br /><br />
         When the store is run out their second favorite wine, users start panicking. 
         <br /><br />
         Like to try something different but afraid they might not like it.  
      </p>
   </div>

   <h3>User Personas</h3>
   <p>Knowing my most target users are women and millennial between age 21-38 years old, young professional, and adventure. I managed to narrow down to two specific users personas.</p>

   <img class="full fill persona" src="/static/img/O-Persona-1.jpg"></img>
   <img class="full fill persona right" src="/static/img/O-Persona-3.jpg"></img>

   <h3>Comparative Analysis</h3>
   <p>To gain a better understanding of Onia app essential, I compared four different wine apps to prioritize what are the important features for Onia.</p>

   <img class="full fill" src="/static/img/O-Comparative-1.png"></img>
   <img class="full fill" src="/static/img/O-Comparative-2.png"></img>

   <h3>MVP (Minimum Viable Product)</h3>
   <p>After gathering the insights that were collected during my research, I was able to categorize the insights. Camera and wine filter definitely the most important feature for Onia App. User will be able to take a picture and write a few lines of notes about a specific product or experience that user can access it anytime including location, date and time.</p>

   <img class="full fill" src="/static/img/O-mvp.png"></img>

   <h3>Sketches</h3>
   <div class="flex border sketches fill">
      <div>After research and brainstorming, I started to sketch Onia flows, from the landing page to users favorite wine. Users can login to their account once they signed up. Access the camera button to take a photo and store it in their account, as their favorite, or dislike wine with a few lines of messages.</div>
      <div class="image"></div>
   </div>

   <h3>Branding</h3>
   <p>The branding started with the unclosed circle surrounded a symbol. Originated Inspired by the wine stain from the bottom of a glass. The symbol represented people who are facing each other either enjoying their present or conversation accompanied by a glass of wine or more. I choose red burgundy for the branding beside associated with energy, desire and passion, this red also a common color for wine.</p>

   <img class="full" src="/static/img/O-Branding.png"></img>

   <h3>Wireframes</h3>

   <img class="full fill" src="/static/img/O-Wireframes.png"></img>

   <h3>Hi-Fi Prototyping</h3>
   <p>After conducting a few usability testing. I finalize my finding and come out with a conclusion. Simplify the layout and adding a few more details after users take a photo.</p>

   <img class="full fill" src="/static/img/O-Prototype.png"></img>

   <h3></h3>
   <div class="flex sketches fill">
      <div>This page shows  <strong>the branding and the splash screen</strong>. The landing page contains all the news and trends about wine. From what is popular, to the most expensive restaurant in town. Users can access this information without having to sign up unless users want to users the app.</div>
      <div class="image" style="background-image: url(https://media.giphy.com/media/ckrb8vOczwaeoAUKBl/giphy.gif);"></div>
   </div>
   <div class="flex sketches fill">
      <div class="image" style="background-image: url(https://media.giphy.com/media/JreFdHdiNLznbM5nym/giphy.gif);"></div>
      <div>
         Following by  <strong>landing page</strong>, users can sign up and log in to their account. 
         <br /><br />
         At this page, users can click a camera icon to start taking photos. Users can take any photo they want and store the information through Onia app.
      </div>
   </div>
   <div class="flex sketches fill">
      <div>I added a few more details after the photo was taken. Users have the option to take <strong>multiple photos</strong> and choose the <strong>layout</strong> at the bottom. Then proceed with <strong>wine rating</strong>, or simply click a few buttons to make a <strong>review</strong>. Otherwise, just click the message button and users have the freedom to write their <strong>personal notes</strong>.</div>
      <div class="image" style="background-image: url(https://media.giphy.com/media/cn8bd3IDlTVUNMmqAI/giphy.gif);"></div>
   </div>

   <h3>Conclusion</h3>
   <p>
      My next steps will be to iterate the final product and conducted another usability testing before full implementation.
      <br /><br />
      I love working on this project because I can relate to it. Sometimes, I find myself standing in the aisle feel overwhelmed by hundreds of different wines. From the label, color, or prices, there are too many options to choose from.
   </p>
   
</div>