
<div id="photo" class="photo project-container">
   <div class="logo"></div>
   <h1>Photography</h1>
   <br /><br />

   <div class="photos gallery t-col-1">
      <img class="image tall" src="/static/img/photography/img1.png"></img>
      <img class="image tall" src="/static/img/photography/img2.png"></img>
      <img class="image tall" src="/static/img/photography/img3.png"></img>
      <img class="image short" src="/static/img/photography/img4.png"></img>
      <img class="image short" src="/static/img/photography/img5.png"></img>
      <img class="image tall" src="/static/img/photography/img6.png"></img>
      <img class="image short" src="/static/img/photography/img7.png"></img>
      <img class="image short" src="/static/img/photography/img8.png"></img>

      <img class="image sort" src="/static/img/photography/img9.png"></img>
      <img class="image tall" src="/static/img/photography/img11.png"></img>
      <img class="image short abs" src="/static/img/photography/img10.png"></img>

      <img class="image short" src="/static/img/photography/img12.png"></img>
      <img class="image short" src="/static/img/photography/img13.png"></img>

      <img class="image full" src="/static/img/photography/img14.png"></img>
      <img class="image full" src="/static/img/photography/img15.png"></img>

   </div>
</div>