
<div id="photo" class="photo project-container">
   <div class="logo"></div>
   <h1>Photography</h1>
   <br /><br />

   <div class="photos gallery">
      <img class="image tall" src="/static/img/img1.png"></img>
      <img class="image tall" src="/static/img/img2.png"></img>
      <img class="image tall" src="/static/img/img3.png"></img>
      <img class="image short" src="/static/img/img4.png"></img>
      <img class="image short" src="/static/img/img5.png"></img>
      <img class="image tall" src="/static/img/img6.png"></img>
      <img class="image short" src="/static/img/img7.png"></img>
      <img class="image short" src="/static/img/img8.png"></img>

      <img class="image sort" src="/static/img/img9.png"></img>
      <img class="image tall" src="/static/img/img11.png"></img>
      <img class="image short abs" src="/static/img/img10.png"></img>

      <img class="image short" src="/static/img/img12.png"></img>
      <img class="image short" src="/static/img/img13.png"></img>

      <img class="image full" src="/static/img/img14.png"></img>
      <img class="image full" src="/static/img/img15.png"></img>

   </div>
</div>