
<div id="pinecrest" class="pinecrest project-container">
   <div class="logo">
      
   </div>
   <div class="logo-buffer"></div>
   <section class="mood-mod-title">
      <div class="video">
         <iframe width="1060" height="480" src="https://www.youtube.com/embed/nNetHnbCJVc?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
   </section>
   <h2>Pinecrest Diner</h2>
   <hr>
   <section class="problem-solution">
      <div class="t-wrap">
         <span class="header">PROBLEM</span>
         <span class="body">
            <ul>
               <ul>Customers need an easier way to order food to reduce wait times so the restaurant can turn their tables faster and gain more revenue.
            </ul>
         </span>
      </div>
      <div class="t-wrap"><span class="header">SOLUTION</span><span class="body">Design and create a new logo and website. Work together with stakeholders and the head chef to simplify their menu. Take food photos of the popular items, and add them to the menu so the customers can choose their orders without reading long text descriptions.</span></div>
   </section>
   <hr>

   <!-- full image -->
   <h3>Qualitative Research</h3>
   <img class="full" src="/static/img/P-Qualitative-Research-1.png"></img>


   <!-- simple paragraph -->
   <h3>Insight</h3>
   <p>My observation is that Pinecrest Diner has no brand identity. Even though they are open 24 hours a day, the majority of their revenue is generated from morning sales. Pinecrest Diner is one block away from Union Square, in downtown SF and 90% of their customers are tourists. With the heavy text on their current menu, tourists have difficulty ordering food.</p>


   <!-- full image -->
   <h3>Empathy Map</h3>
   <img class="full" src="/static/img/P-Empathy-map.png"></img>


   <!-- simple paragraph -->
   <h3>Hypothesis</h3>
   <p>We believe by creating a new menu with pictures, we will achieve faster ordering. We will measure this success by total sale per-shift.</p>

   <section class="info">
      <h3>Target User</h3>
      <ul class="center">
         <br>Conference Attendee</br>
         <br>San Francisco Shopper</br>
         <br>Worker around the area</br>
         <br>Domestic and International Tourists</br>
      </ul>
   </section>

   <!-- simple paragraph -->
   <h3>User Flows</h3>
   <p>I create a “user flows” to visualize a customer experience from they enter the business establishment through a set of steps toward a successful outcome and final action, such as ordering, consuming and paying.</p>


   <!-- 80% image -->
   <!-- <h3>Empathy Map</h3> -->
   <img class="full" src="/static/img/P-User-Flows.png"></img>


   <!-- line -->
   <hr>


   <!-- simple paragraph -->
   <h3>Minimum Viable Product (MVP)</h3>
   <p>Based on my research insight, I built an MVP to help our customers’ needs to get the best experience either dine in or online ordering. I considered some efficient features that we must have. Clear navigation bar on our menu and location, these essential features will bring more revenue such as online ordering.</p>


   <!-- 80% image -->
   <img class="full" src="/static/img/P-MVP.png"></img>

   <!-- gallery -->
   <h3>Food Photos</h3>
   <section class="gallery photos col-3 t-col-2 m-col-1">
      <div class="image" style="background-image: url(/static/img/Photo-1.png);" data-image="Photo-1.png"></div>
      <div class="image" style="background-image: url(/static/img/Photo-2.png);" data-image="Photo-2.png"></div>
      <div class="image" style="background-image: url(/static/img/Photo-3.png);" data-image="Photo-3.png"></div>
      <div class="image" style="background-image: url(/static/img/Photo-4.png);" data-image="Photo-4.png"></div>
      <div class="image" style="background-image: url(/static/img/Photo-5.png);" data-image="Photo-5.png"></div>
      <div class="image" style="background-image: url(/static/img/Photo-6.png);" data-image="Photo-6.png"></div>
   </section>


   <h3>Brand Sketches</h3>
   <section class="gallery sketches brand col-3 m-col-2 t-full">
      <div class="image" style="background-image: url(/static/img/P-Logo-1.png);" data-image="P-Logo-1.png"></div>
      <div class="image" style="background-image: url(/static/img/P-Logo-2.png);" data-image="P-Logo-2.png"></div>
      <div class="image" style="background-image: url(/static/img/P-Logo-3.png);" data-image="P-Logo-3.png"></div>
   </section>


   <h3>Initial Sketches</h3>
   <section class="gallery sketches titles col-3 m-col-2 t-full">
      <div class="image" style="background-image: url(/static/img/P-sketches-1.png);" data-image="P-sketches-1.png" data-title="Home"></div>
      <div class="image" style="background-image: url(/static/img/P-sketches-2.png);" data-image="P-sketches-2.png" data-title="Menu"></div>
      <div class="image" style="background-image: url(/static/img/P-sketches-3.png);" data-image="P-sketches-3.png" data-title="Location"></div>
   </section>


   <h3>Iteration Sketches</h3>
   <section class="gallery sketches titles col-3 m-col-2 t-full">
      <div class="image" style="background-image: url(/static/img/P-I-sketches-1.png);" data-image="P-I-sketches-1.png" data-title="Home"></div>
      <div class="image" style="background-image: url(/static/img/P-I-sketches-2.png);" data-image="P-I-sketches-2.png" data-title="About Us"></div>
      <div class="image" style="background-image: url(/static/img/P-I-sketches-3.png);" data-image="P-I-sketches-3.png" data-title="Menu"></div>
      <div class="image" style="background-image: url(/static/img/P-I-sketches-4.png);" data-image="P-I-sketches-4.png" data-title="Appetizer"></div>
      <div class="image" style="background-image: url(/static/img/P-I-sketches-5.png);" data-image="P-I-sketches-5.png" data-title="Contact Us"></div>
      <div class="image" style="background-image: url(/static/img/P-I-sketches-6.png);" data-image="P-I-sketches-6.png" data-title="Location"></div>
   </section>


   <!-- simple paragraph -->
   <h3>Hi-FI Prototype</h3>
   <p>For the first time in 40 years, this is the final step for Pinecrest Diner to have their own website, brand identity, pictures menu, stationery and design system. I also integrated my research and finding to Pinecrest Diner website as well by implementing a picture menu.</p>


   <!-- gallery -->
   <!-- <section class="gallery prototype"> -->
   <section class="gallery protos titles col-3 m-col-1">
      <div class="image" style="background-image: url(/static/img/P-Prototype-1.png);" data-image="P-Prototype-1.png" data-title="About Us"></div>
      <div class="image" style="background-image: url(/static/img/P-Prototype-2.png);" data-image="P-Prototype-2.png" data-title="Contact Us"></div>
      <div class="image" style="background-image: url(/static/img/P-Prototype-3.png);" data-image="P-Prototype-3.png" data-title="Appetizer"></div>
      <div class="image" style="background-image: url(/static/img/P-Prototype-4.png);" data-image="P-Prototype-4.png" data-title="Breakfast"></div>
      <div class="image" style="background-image: url(/static/img/P-Prototype-5.png);" data-image="P-Prototype-5.png" data-title="Lunch"></div>
      <div class="image" style="background-image: url(/static/img/P-Prototype-6.png);" data-image="P-Prototype-6.png" data-title="Dinner"></div>
   </section>


   <!-- gallery with titles -->
   <!-- <h3>Pinecrest Diner</h3>
   <section class="gallery extras titles">
      <div class="image" style="background-image: url(/static/img/P-Extra-1.png);" data-image="P-Extra-1.png" data-title="Exterior"></div>
      <div class="image" style="background-image: url(/static/img/P-Extra-2.png);" data-image="P-Extra-2.png" data-title="Stationery System"></div>
      <div class="image" style="background-image: url(/static/img/P-Extra-3.png);" data-image="P-Extra-3.png" data-title="Interior"></div>
   </section> -->



   <h3>Next Steps</h3>
   <p class="next-steps">Implement reservation through Pinecrest website<br />
      Create dietary menu such as allergy, vegan and vegetarian</br />
      Information about their sustainable food source
   </p>
</div>
