
<div id="pbc" class="pbc project-container">
   <div class="logo"></div>
   <h1>Pinecrest Diner</h1>

   <!-- <h3>Sketches</h3>
   <div class="flex even"> -->
   <!-- gallery with titles -->
   <h3>Sketches</h3>
   <section class="gallery sketches brand col-3 t-full m-col-2">
         <div class="image" style="background-image: url(/static/img/pinecrest-bc/logo-1.png);" data-image="pinecrest-bc/logo-1.png"></div>
         <div class="image" style="background-image: url(/static/img/pinecrest-bc/logo-2.png);" data-image="pinecrest-bc/logo-2.png"></div>
         <div class="image" style="background-image: url(/static/img/pinecrest-bc/logo-3.png);" data-image="pinecrest-bc/logo-3.png"></div>
   </section>

   <section class="gallery sketches branding col-2 m-col-1">
         <div class="image" style="background-image: url(/static/img/pinecrest-bc/extra-1.png);" data-image="pinecrest-bc/extra-1.png"></div>
         <div class="image" style="background-image: url(/static/img/pinecrest-bc/extra-2.png);" data-image="pinecrest-bc/extra-2.png"></div>
         <div class="image" style="background-image: url(/static/img/pinecrest-bc/shirt.png);" data-image="pinecrest-bc/shirt.png"></div>
         <div class="image" style="background-image: url(/static/img/pinecrest-bc/mug.png);" data-image="pinecrest-bc/mug.png"></div>
         <div class="image" style="background-image: url(/static/img/pinecrest-bc/extra-3.png);" data-image="pinecrest-bc/extra-3.png"></div>
         <div class="image" style="background-image: url(/static/img/pinecrest-bc/bag.png);" data-image="pinecrest-bc/bag.png"></div>
   </section>
</div>
