
<div id="pbc" class="pbc project-container">
   <div class="logo"></div>
   <h1>Pinecrest Diner</h1>

   <!-- <h3>Sketches</h3>
   <div class="flex even"> -->
   <!-- gallery with titles -->
   <h3>Sketches</h3>
   <section class="gallery sketches brand">
         <div class="image" style="background-image: url(/static/img/P-Logo-1.png);" data-image="P-Logo-1.png"></div>
         <div class="image" style="background-image: url(/static/img/P-Logo-2.png);" data-image="P-Logo-2.png"></div>
         <div class="image" style="background-image: url(/static/img/P-Logo-3.png);" data-image="P-Logo-3.png"></div>
   </section>

   <section class="gallery sketches branding">
         <div class="image" style="background-image: url(/static/img/P-Extra-1.png);" data-image="P-Extra-1.png"></div>
         <div class="image" style="background-image: url(/static/img/P-Extra-2.png);" data-image="P-Extra-2.png"></div>
         <div class="image" style="background-image: url(/static/img/p-shirt.png);" data-image="p-shirt.png"></div>
         <div class="image" style="background-image: url(/static/img/p-mug.png);" data-image="p-mug.png"></div>
         <div class="image" style="background-image: url(/static/img/P-Extra-3.png);" data-image="P-Extra-3.png"></div>
         <div class="image" style="background-image: url(/static/img/p-bag.png);" data-image="p-bag.png"></div>
   </section>
</div>
