<div id="project-m" class="project-m project-container">
   <div class="logo"></div>
<!--    <h1>Project M</h1>
 -->
   <!-- <div class="logo-buffer"></div> -->
   <!-- <section class="project-m-title"> -->
      <div class="video">
         <iframe width="1060" height="480" src="https://www.youtube.com/embed/Pdy7aQSNlZU?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <iframe width="1060" height="480" src="https://www.youtube.com/embed/RetcRine9_s?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
   </section>

   <h2>Project M</h2>


   <div class="quote">
      “Market Size $24.74 Billion by 2020”
      <span>CAGR Of 32.7% Over The Forecast Period (2018 - 2023)</span>
   </div>

   <section class="problem-solution">
      <div class="t-wrap">
         <span class="header">OVERVIEW</span>
         <span class="body">
            <ul>
               <ul>The global emotion detection & recognition market is estimated to witness a CAGR (Compound Annual Growth Rate) of 32.7% over the forecast period (2018 - 2023), driving the market to reach 24.74 billion by 2020. Understanding emotion holds significance during the interaction process between humans and machine communication systems. EDR (Endpoint Detection and Response) not only improves human and computer interfaces, but also enhances the feedback mechanism actions taken by computers from the users.
            </ul>
            <br>
            <span>-www.researchandmarkets.com-</span>
         </span>

      </div>
   </section>

   <h3>Market Size</h3>
      <p>Adoption of wearable devices are growing fast, which include <strong>smartwatches, fitness brands, smart glasses and textiles.</strong> These wearable devices are equipped with various components such as biological sensors to monitor heartbeat and temperature. In addition to sensors they are also equipped with microphones and cameras that can be used to assess human emotions by <strong>capturing gestures, body posture, tone of voice and facial expressions.</strong>
      </p>

   <img class="full" src="/static/img/project-m/market-size.png"></img>

   
   <h3>Business Problem</h3>
      <p>Computer Vision Technology currently reads and evaluates human emotions based on facial muscle movement only. Unfortunately this approach can be flawed at times, because people don’t always show their emotions through facial muscle movements and are often able to fake them. Therefore, if there is no facial muscle movement or it is not genuine, <strong>current technology is not able to accurately identify human emotion.</strong>
      </p>

   <h3>Business Solution</h3>
      <p>Project M was created to train the current technology on input data that is based on eight basic emotions with more than 200,000 accurately classified training data. There are nearly 400,000 sophisticated sub-classifications behind the basic eight emotions. With its CNN-Keras based algorithm, Project M completely outstands the current leader, Microsoft’s Azure. As of March 1, 2020 the team has invested more than <strong>88,000 hours to create Project M.</strong> 
      </p>



   <h3>Project M</h3>
   <div class="flex even background t-wrap">
      <p>
         <strong>Project M</strong> 
         <br><br>
         <strong>Project M is an artificial intelligence platform</strong> that can understand human emotions based on hidden and micro-facial expressions.
      </p>

      <p>
         <strong>M's Mission</strong> 
         <br><br>
         Project M’s mission is to give <strong>“M”</strong> the ability to <strong>understand human emotions</strong> and interact with them. Thereby, becoming a true companion and friend to humans, Project M wants to ensure no one will be lonely or emotionally vulnerable.
      </p>
   </div>

   <h3>My challenge</h3>
      <p>The current Project M website is outdated and unattractive. <strong>Heavy text</strong> with no presence of hierarchy between the title and the body. Overall M website is <strong>not user friendly</strong> because the user doesn’t know where to start and end. <strong>Lack of logical flow and visual is the main issue to M site.</strong> Besides text-heavy, not much content to work on. I also facing the same problem on M testing site, one single page with an image and a confusing color pie chart. if users confused, how they can drawn people attention or increase conversion to their site.
      </p>

   <h3>My Solution</h3>
      <p>Created a new brand for Project M, so there is no confusion between IPMD, Inc, and Project M. Project M is a product of IPMD, Inc. <strong>Mapping the user journey with a logical flow, login/sign up, explore M product, get M result, and logout.</strong> Research and Identify the eight different emotions that are associated with the proper color, such as anger, contempt, disgust, fear, happy, neutral, sad, surprise. Also, differentiate three moods with three different suitable colors.
      </p>


   <h3>Creative Process</h3>
   <div class="flex even background t-wrap">
      <p>
         <strong>DEFINE KEY PROBLEM</strong> 
         <br>Team Meeting 
         <br>Define problems & goals
      </p>
      <p>
         <strong>SKETCH</strong> 
         <br>Feature Prioritization (MVP)
         <br>Information Architecture
         <br>Variation Sketches  
      </p>
      <p>
         <strong>TESTING</strong> 
         <br>Hi-Fi Prototype
         <br>Iteration
         <br>Next Steps       
      </p>
   </div>

   <img class="full" src="/static/img/project-m/creative-process.png"></img>

   <div class="flex even background t-wrap">
      <p>
         <strong>RESEARCH</strong> 
         <br>Qualitative Research
         <br>Affinity Mapping
         <br>Logical Flow
         <br>Comparative & Competitive Analysis      
      </p>
      <p>
         <strong>DESIGN</strong> 
         <br>Wireframes
         <br>Clickable Prototype
         <br>Usability Testing
      </p>
   </div>

   <h3>User & Business Alignment</h3>
   <img class="full" src="/static/img/project-m/user-needs.png"></img>

   <h3>Competitor</h3>
      <p>After meet the team and learned about the business’s purpose and goals. 
      I started my research and learned about the industry. I learned <strong>“M” competitors</strong> could be a potential customer such as <strong>Google, Microsoft, Amazon, and Affectiva.</strong>
      </p>

   <div class="gallery col-4 prototypes t-col-2 m-col-1">
      <img src="/static/img/project-m/google.png" />
      <img src="/static/img/project-m/microsoft.png" />
      <img src="/static/img/project-m/amazon.png" />
      <img src="/static/img/project-m/affectiva.png" />
   </div>

   <h3>Competitive Advantages</h3>
   <img class="full" src="/static/img/project-m/competitive-adv.png"></img>

   <h3>MVP (minimum viable product)</h3>
   <div class="flex even background t-wrap">
      <p>
         <strong>ESSENTIAL</strong> 
         <br>Log in with Google or Facebook
         <br>Sign up or Registration
         <br>Email or Phone number
         <br>Privacy & Terms
         <br>Testing and result page
      </p>
      <p>
         <strong>NICE TO HAVE</strong> 
         <br>Donate 
         <br>Payment
         <br>Facial Recognition Template
      </p>
   </div>

   <h3>Logical Flow</h3>
      <p>There are two main logical flows that Project M prioritas. <strong>Login/sign up and donation.</strong> Users only need to sign up when they like to use our product which is Project M. Our goal is to focus and ease user experience when they visit our website.</p>
   <img class="full" src="/static/img/project-m/logical-flow.png"></img>


   <h3>Sketches</h3>
      <p>Created <strong>different concepts and sketches</strong> out as many ideas as possible. Choosing the ones that suit the company and user needs the most. At the end the stakeholder decided to only show the emotion above twenty percentile.</p>

   <div class="gallery comparative col-3 m-col-1">
      <img src="/static/img/project-m/sketch1.png" />
      <img src="/static/img/project-m/sketch2.png" />
      <img src="/static/img/project-m/sketch3.png" />
      <img src="/static/img/project-m/sketch4.png" />
      <img src="/static/img/project-m/sketch5.png" />
      <img src="/static/img/project-m/sketch6.png" />
   </div>

   <h3>Styleguide</h3>
      <p>I created a brand new <strong>style guide and design system</strong> for Project M. These new guidelines will be a <strong>foundation of the current and the future of Project M design.</strong> From visual, color, typography etc, will look uniform on Project M platform whether web or mobile.
      </p>

   <h3>Brand Color</h3>
   <img class="full fill m-hide" src="/static/img/project-m/color.png"></img>


   <h3>pie-chart color</h3>
      <p>Currently Project M contains eight emotions, <strong>anger, contempt, disgust, fear, neutral, happy, sad, and surprise.</strong>  M also has three moods, <strong>positive, negative, and neutral.</strong> Before deciding on which color to use, I did my research and finding which color associated or appropriated with certain emotions or moods.
      </p>
   <img class="full fill m-hide" src="/static/img/project-m/pie-chart.png"></img>
   
  
   <h3>Typography</h3>
      <p>Primary typeface is <strong>“Open Sans”</strong> and Secondary typeface are <strong>“Rubik” and “Arial”</strong>
      </p>
   <img class="full fill m-hide" src="/static/img/project-m/typeface.png"></img>  


   <h3>Wireframe</h3>
      <p>Turn the concept to reality, starting with a <strong>wireframe and prototype.</strong> Created variation of each concept to suit multiple platforms and keep a consistent story across the platform.</p>

   <div class="gallery comparative col-3 m-col-1">
      <img src="/static/img/project-m/wire1.png" />
      <img src="/static/img/project-m/wire2.png" />
      <img src="/static/img/project-m/wire3.png" />
      <img src="/static/img/project-m/wire4.png" />
      <img src="/static/img/project-m/wire5.png" />
      <img src="/static/img/project-m/wire6.png" />
   </div>


   <h3>Hi-fi prototype</h3>
      <p>I presented the final concept with the <strong>HI-FI prototype</strong> and explained the rationale behind each concept and why they would be successful. After a few feedback from the CEO and a team, I executed the necessary revision to develop the concept into a full-fledged set of designs. I follow up with the team and <strong>finalize the product.</p></strong>

   <div class="gallery comparative col-3 m-col-1">
      <img src="/static/img/project-m/proto1.png" />
      <img src="/static/img/project-m/proto2.png" />
      <img src="/static/img/project-m/proto3.png" />
      <img src="/static/img/project-m/proto4.png" />
      <img src="/static/img/project-m/proto5.png" />
      <img src="/static/img/project-m/proto6.png" />
      <img src="/static/img/project-m/proto7.png" />
      <img src="/static/img/project-m/proto8.png" />
      <img src="/static/img/project-m/proto9.png" />
   </div>


   <h3>Next Steps</h3>
      <p>There are so many rooms for us to improve. Project M launched in August, therefore we will have some data to work on A/B testing. We will constantly make some changes based on our user, so we can <strong>provide the best customer or user experience to our user. </p></strong>

</div>
