<div id="project-m" class="project-m project-container">
   <div class="logo"></div>
   <!--    <h1>Project M</h1>
   -->
   <!-- <div class="logo-buffer"></div> -->
   <!-- <section class="project-m-title"> -->
   <div class="video">
      <iframe width="1060" height="480" src="https://www.youtube.com/embed/Pdy7aQSNlZU?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="1060" height="480" src="https://www.youtube.com/embed/RetcRine9_s?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
   <!-- </section> -->
   <h2>Project M</h2>
   <!-- <h3>Project M</h3> -->
   <section class="problem-solution">
      <div class="t-wrap">
         <span class="header">Project M </span>
         <span class="body">
            <ul>
               <li><strong>“M”</strong>is an Artificial Intelligence Platform that can understand human emotions based on hidden and micro-facial expressions.
               </li>
               <br>
            </ul>
         </span>
      </div>
      <div class="t-wrap">
         <span class="header">Mission</span>
         <span class="body">
            <ul>
               <li>Project M’s mission is to give <strong>“M”</strong> the ability to <strong>understand human emotions</strong> and interact with them. Thereby, becoming a true companion and friend to humans, Project M wants to ensure no one will be lonely or emotionally vulnerable.
               </li>
               <br>
            </ul>
         </span>
      </div>
   </section>

   <!-- <div class="intro">
      Project M is an Artificial Intelligence Platform that can understand human emotions based on hidden and micro-facial expressions.
   </div>
 -->
   <!-- <h3>Mission</h3>
   <p>Project M’s mission is to give <strong>“M”</strong> the ability to <strong>understand human emotions</strong> and interact with them. Thereby, becoming a true companion and friend to humans, Project M wants to ensure no one will be lonely or emotionally vulnerable.
   </p>
   <h3></h3> -->
   <div class="flex even background t-wrap">
      <p>
         <span class="sub-header">Problem</span>
         <br><br>
         Computer Vision Technology currently reads and evaluates human emotions based on facial muscle movement only. Unfortunately this approach can be flawed at times, because people don’t always show their emotions through facial muscle movements and are often able to fake them. Therefore, if there is no facial muscle movement or it is not genuine, <strong>current technology is not able to accurately identify human emotion.</strong>
      </p>
      <p>
         <span class="sub-header">Solution</span>
         <br><br>
         Project M was created to train the current technology on input data that is based on eight basic emotions with more than 200,000 accurately classified training data. There are nearly 400,000 sophisticated sub-classifications behind the basic eight emotions. With its CNN-Keras based algorithm, Project M completely outstands the current leader, Microsoft’s Azure. As of March 1, 2020 the team has invested more than <strong>88,000 hours to create Project M.</strong>
      </p>
   </div>

   <section class="problem-solution">
      <div class="t-wrap">
         <span class="header">$24.74 Billion by 2020</span>
         <span class="body">
            <ul>
               <li>The global emotion detection & recognition market is estimated to witness a CAGR (Compound Annual Growth Rate) of 32.7% over the forecast period (2018 - 2023), driving the market to reach 24.74 billion by 2020. <!-- Understanding emotion holds significance during the interaction process between humans and machine communication systems. EDR (Endpoint Detection and Response) not only improves human and computer interfaces, but also enhances the feedback mechanism actions taken by computers from the users. -->
               </li>
               <div class="text-right">-www.researchandmarkets.com-</div>
            </ul>
         </span>
      </div>
   </section>
   <h3 class="h3-size">Market Size</h3>
   <p>Adoption of wearable devices are growing fast, which include <strong>smartwatches, fitness brands, smart glasses and textiles.</strong> These wearable devices are equipped with various components such as biological sensors to monitor heartbeat and temperature. In addition to sensors they are also equipped with microphones and cameras that can be used to assess human emotions by <strong>capturing gestures, body posture, tone of voice and facial expressions.</strong>
   </p>
   <br>
   <img class="full market-size" src="/dynamic/c_fit,w_816,h_652/img/project-m/market-size.jpg" />
   
   
   <!-- <h3>My challenge</h3>
   <p>The current Project M website is unappealing and unattractive. <strong>Heavy text</strong> with no presence of hierarchy between the title and the body. Overall is <strong>not user friendly</strong> because the user doesn’t know where to begin and end. <strong>A lack of logical flow and visual design is the main issue of the M site.</strong> Besides being text-heavy, there is not much content. I am also facing the same problem on the M testing site, which contains only one single page with an image and a confusing color pie chart. If users are confused, how can they draw people’s attention or increase conversion to their site.
   </p>
   <h3>My solution</h3>
   <p>Created a new brand for Project M with no confusion between IPMD, Inc, and Project M. Project M is a product of IPMD, Inc. <strong>Mapping the user journey with a logical flow, login/sign up, explore M product page, get M result page, and logout.</strong> Research and identify the eight different emotions that are associated with the proper color, such as anger, contempt, disgust, fear, happy, neutral, sad, and surprise. Also, differentiate three moods with three different suitable colors.
   </p> -->

   <div class="flex even background t-wrap">
      <p>
         <span class="sub-header">My challenge</span>
         <br><br>
         The current Project M website is unappealing and unattractive. <strong>Heavy text</strong> with no presence of hierarchy between the title and the body. Overall is <strong>not user friendly</strong> because the user doesn’t know where to begin and end. <strong>A lack of logical flow and visual design is the main issue of the M site.</strong> Besides being text-heavy, there is not much content. I am also facing the same problem on the M testing site, which contains only one single page with an image and a confusing color pie chart. If users are confused, how can they draw people’s attention or increase conversion to their site.
      </p>
      <p>
         <span class="sub-header">My solution</span>
         <br><br>
         Created a new brand for Project M with no confusion between IPMD, Inc, and Project M. Project M is a product of IPMD, Inc. <strong>Mapping the user journey with a logical flow, login/sign up, explore M product page, get M result page, and logout.</strong> Research and identify the eight different emotions that are associated with the proper color, such as anger, contempt, disgust, fear, happy, neutral, sad, and surprise. Also, differentiate three moods with three different suitable colors.
      </p>
   </div>

   <h3 class="h3-size">Creative Process</h3>
   <div class="creative-process-desktop">
      <div class="creative-process even t-wrap">
         <p>
            <strong>DEFINE KEY PROBLEM</strong>
            <br>Team Meeting
            <br>Define problems & goals
         </p>
         <p>
            <strong>SKETCH</strong>
            <br>Feature Prioritization (MVP)
            <br>Information Architecture
            <br>Variation Sketches
         </p>
         <p>
            <strong>TESTING</strong>
            <br>Hi-Fi Prototype
            <br>Iteration
            <br>Next Steps
         </p>
      </div>
      <img class="full" src="/dynamic/c_scale,w_1020/img/project-m/creative-process.png" />
      <div class="creative-process-2 even t-wrap">
         <p>
            <strong>RESEARCH</strong>
            <br>Qualitative Research
            <br>Affinity Mapping
            <br>Logical Flow
            <br>Comparative & Competitive Analysis
         </p>
         <p>
            <strong>DESIGN</strong>
            <br>Wireframes
            <br>Clickable Prototype
            <br>Usability Testing
         </p>
      </div>
   </div>
   <div class="creative-process-mobile even t-wrap">
      <p>
         <strong>DEFINE KEY PROBLEM</strong>
         <br>Team Meeting
         <br>Define problems & goals
      </p>
      <p>
         <strong>RESEARCH</strong>
         <br>Qualitative Research
         <br>Affinity Mapping
         <br>Logical Flow
         <br>Comparative & Competitive Analysis
      </p>
      <p>
         <strong>SKETCH</strong>
         <br>Feature Prioritization (MVP)
         <br>Information Architecture
         <br>Variation Sketches
      </p>
      <p>
         <strong>DESIGN</strong>
         <br>Wireframes
         <br>Clickable Prototype
         <br>Usability Testing
      </p>
      <p>
         <strong>TESTING</strong>
         <br>Hi-Fi Prototype
         <br>Iteration
         <br>Next Steps
      </p>
   </div>
   <h3>User & Business Alignment</h3>
   <img class="full" src="/dynamic/c_scale,w_1020/img/project-m/user-needs.png" />
   <h3>Competitor</h3>
   <p>After meeting the team and learning about the business’ purpose and goals, I started my research and learned about the industry. I learned that <strong> “M” competitors</strong>  could be potential customers, such as <strong> Google, Microsoft, Amazon, and Affectiva.</strong> 
   </p>
   <div class="gallery col-4 prototypes t-col-2 m-col-1">
      <img src="/dynamic/c_scale,w_469/img/project-m/google.png" />
      <img src="/dynamic/c_scale,w_469/img/project-m/microsoft.png" />
      <img src="/dynamic/c_scale,w_469/img/project-m/amazon.png" />
      <img src="/dynamic/c_scale,w_469/img/project-m/affectiva.png" />
   </div>
   <h3>Competitive Advantages</h3>
   <img class="full" src="/dynamic/c_scale,w_1020/img/project-m/competitive-adv.png" />
   <h3>MVP (minimum viable product)</h3>
   <div class="flex even background t-wrap">
      <p>
         <strong>ESSENTIAL</strong>
         <br>Log In with Google or Facebook
         <br>Log In or Sign Up
         <br>Email or Phone number
         <br>Privacy & Terms
         <br>Testing and Result Page
      </p>
      <p>
         <strong>NICE TO HAVE</strong>
         <br>Donate
         <br>Payment
         <br>Facial Recognition Template
      </p>
   </div>

   <h3>Logical Flow</h3>
   <p>There are two main logical flows that Project M prioritizes. <strong>Login/sign up and donation.</strong> Users only need to sign up when they want to use the product. Our goal is to focus and ease the user experience when they visit our website.
   </p>
   <div class="logical">
      <img class="full" src="/dynamic/c_scale,w_2048/img/project-m/logical-flow.png" />
   </div>

   <h3>Login</h3>
   <!-- <p>There are two main logical flows that Project M prioritizes. <strong>Login/sign up and donation.</strong> Users only need to sign up when they want to use the product. Our goal is to focus and ease the user experience when they visit our website.
   </p> -->
   <div class="gallery comparative col-3 m-col-1">
      <img class="border" src="/static/img/project-m/login1.png" />
      <img class="border" src="/static/img/project-m/login2.png" />
      <img class="border" src="/static/img/project-m/login3.png" />
   </div> 
   <div class="login gallery">
      <img class="full" src="/static/img/project-m/login-final.png" />
   </div>

   <h3>Sketches</h3>
   <p>Created <strong>different concepts and sketches</strong> out of as many ideas as possible. Choosing the ones that suit the company and the user needs the most. At the end the stakeholders decided to only show the emotion above the twenty percentile.
   </p>
   <div class="gallery comparative col-3 m-col-1">
      <img class="border" src="/dynamic/c_fit,w_310,h_216/img/project-m/sketch1.png" />
      <img class="border" src="/dynamic/c_fit,w_310,h_216/img/project-m/sketch2.png" />
      <img class="border" src="/dynamic/c_fit,w_310,h_216/img/project-m/sketch3.png" />
      <img class="border" src="/dynamic/c_fit,w_310,h_216/img/project-m/sketch4.png" />
      <img class="border" src="/dynamic/c_fit,w_310,h_216/img/project-m/sketch5.png" />
      <img class="border" src="/dynamic/c_fit,w_310,h_216/img/project-m/sketch6.png" />
   </div>
   <h3>Design System</h3>
   <p>I created a brand new <strong>style guide and design system</strong> for Project M. These new guidelines will be a <strong>foundation of the current and future of the Project M design.</strong> From visual, color, typography etc, the design will look uniform on the Project M platform whether on web or mobile.
   </p>
   <h3>Brand Color</h3>
   <img class="full fill m-hide" src="/dynamic/c_scale,w_1060/img/project-m/color.png" />
   <h3>pie-chart color</h3>
   <p>Currently Project M contains eight emotions: <strong>anger, contempt, disgust, fear, neutral, happy, sad, and surprise.</strong> M also has three moods: <strong>positive, negative, and neutral.</strong> Before deciding on which colors to use, I did my research and found which colors were associated with certain emotions or moods.
   </p>
   <img class="full fill m-hide" src="/dynamic/c_scale,w_1018/img/project-m/pie-chart.png" />
   
   
   <h3>Typography</h3>
   <p>Primary typeface is <strong>“Open Sans”</strong> and Secondary typeface are <strong>“Rubik” and “Arial”</strong>
   </p>
   <img class="full fill m-hide" src="/dynamic/c_scale,w_1060/img/project-m/typeface.png" />
   <h3>Wireframe</h3>
   <p>Turned the concept into reality, starting with a <strong>wireframe and a prototype.</strong> Created variations of each concept to suit multiple platforms and kept a consistent story across the platform.</p>
   <div class="gallery comparative col-3 m-col-1">
      <img class="border" src="/dynamic/c_fit,w_310,h_216/img/project-m/wire1.png" />
      <img class="border" src="/dynamic/c_fit,w_310,h_216/img/project-m/wire2.png" />
      <img class="border" src="/dynamic/c_fit,w_310,h_216/img/project-m/wire3.png" />
      <img class="border" src="/dynamic/c_fit,w_310,h_216/img/project-m/wire4.png" />
      <img class="border" src="/dynamic/c_fit,w_310,h_216/img/project-m/wire5.png" />
      <img class="border" src="/dynamic/c_fit,w_310,h_216/img/project-m/wire6.png" />
   </div>
   <h3>Hi-fi prototype</h3>
   <p>I presented the final concept with the <strong>HI-FI prototype,</strong> and explained the rationale behind each concept and why they would be successful. After some feedback from the CEO and team, I executed the necessary revisions to develop the concept into a full-fledged set of designs. I followed up with the team and <strong>finalized the product.</strong></p>
   <div class="gallery comparative col-3 m-col-1">
      <img src="/dynamic/c_fit,w_310,h_190/img/project-m/proto1.png" />
      <img src="/dynamic/c_fit,w_310,h_190/img/project-m/proto2.png" />
      <img src="/dynamic/c_fit,w_310,h_190/img/project-m/proto3.png" />
      <img src="/dynamic/c_fit,w_310,h_190/img/project-m/proto4.png" />
      <img src="/dynamic/c_fit,w_310,h_190/img/project-m/proto5.png" />
      <img src="/dynamic/c_fit,w_310,h_190/img/project-m/proto6.png" />
      <img src="/dynamic/c_fit,w_310,h_190/img/project-m/proto7.png" />
      <img src="/dynamic/c_fit,w_310,h_190/img/project-m/proto8.png" />
      <img src="/dynamic/c_fit,w_310,h_190/img/project-m/proto9.png" />
   </div>
   <h3>Next Steps</h3>
   <p>There is so much room for improvement. Project M launched in August 2020, then we followed up with A/B testing. We will continue to make changes based on our users, so we can <strong>provide the best customer/user experience.</strong></p>
</div>
