
<div id="sf-gov" class="sf-gov project-container">
   <div class="logo">
      <div class="container">
         <div class="logo-image"></div>
         <div class="title">SFGOV</div>
      </div>
      <!-- <h1>SFDPH “Gender Health SF”</h1> -->
      <div class="testing">
         <div class="test" >
            <div class="image" style="background-image: url(/static/img/sfgov/sfgov-4.png);"></div>
            <div class="reflect-bg"></div>
            <div class="reflect" style="background-image: url(/static/img/sfgov/sfgov-4.png);"></div>
         </div>
         <div class="test" >
            <div class="image" style="background-image: url(/static/img/sfgov/sfgov-5.png);"></div>
            <div class="reflect-bg"></div>
            <div class="reflect" style="background-image: url(/static/img/sfgov/sfgov-5.png);"></div>
         </div>
         <div class="test" >
            <div class="image" style="background-image: url(/static/img/sfgov/sfgov-6.png);"></div>
            <div class="reflect-bg"></div>
            <div class="reflect" style="background-image: url(/static/img/sfgov/sfgov-6.png);"></div>
         </div>
         <div class="test" >
            <div class="image" style="background-image: url(/static/img/sfgov/sfgov-7.png);"></div>
            <div class="reflect-bg"></div>
            <div class="reflect" style="background-image: url(/static/img/sfgov/sfgov-7.png);"></div>
         </div>
         <div class="test" >
            <div class="image" style="background-image: url(/static/img/sfgov/sfgov-8.png);"></div>
            <div class="reflect-bg"></div>
            <div class="reflect" style="background-image: url(/static/img/sfgov/sfgov-8.png);"></div>
         </div>
      </div>
   </div>
   <div class="logo-buffer"></div>
   <h3>San Francisco Department of Public Health</h3>
   <section class="stats flex t-wrap">
      <div>
         <h4>SKILL SET</h4>
         <div>UX Designer | Product Designer</div>
         <div>Market Research | StoryBoard</div>
          <div>Visual Design | HI FI Prototype</div>
      </div>
      <div>
         <h4>TEAM</h4>
         <div>Rachel Dwyer</div>
         <div>Jinyang kim</div>
      </div>
      <div>
         <h4>CLIENT “SFDPH”</h4>
         <div>San Francisco Department of Public Health</div>
         <h4>DELIVERABLE</h4>
         <div>Redesign of High Fidelity mockups of</div>
         <div>SF Health Network and SF.GOV</div>
       
      </div>
      <div>
         <h4>DURATION</h4>
         <div>3 weeks</div>
      </div>
   </section>
   <!-- <h3>San Francisco Department of Public Health</h3> -->
   <section class="flex fill t-wrap">
      <div class="mission">
         <div class="title">Gender Health SF</div>
         <div class="sub-title">Mission:</div>
         <p>Provide access to gender-affirming surgeries and related education and services to eligible, uninsured transgender and non-binary adult residents of San Francisco.</p>
      </div>
      <div class="video">
         <iframe width="530" height="477px" src="https://www.youtube.com/embed/RaCxgACvh9Y?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
   </section>
   <!-- <h3 class="top-margin">Gender Health SF</h3> -->
   <!-- <hr> -->
   <section class="problem-solution">
      <div><span class="header">PROJECT STATEMENT</span><span class="body">Worked directly with SFDPH Digital Services Manager and Gender Health SF program director to reassemble and restructure the transgender page from SFHealthNetwork.org and migrate the transgender page to the new SF.GOV site.</span>
      </div>

      <div><span class="header">THE CHALLENGE</span><span class="body">User doesn't have a clear path from eligibility, referral processes and next steps when visiting the site. High bounce rate due to the confusing path and dead links, users exit the site immediately.</span>
      </div>

      <div><span class="header">OUR PROPOSAL</span><span class="body">Redesign the Gender Health SF by restructure their Information Architecture to be <strong>clear, friendly and accessible </strong>to user needs.
      Migrate Gender Health SF to the new SF.GOV site using their current style guides.</span>
      </div>
   </section>
      
      <!-- <div>
         <span class="header">THE CHALLENGE</span>
         <span class="body">
            <ul>
               <li>The eligibility, referral processes and next steps are unclear</li>
               <li>High Bounce-rate on existing site</li>
               <li>Users are not engaging with the available links</li>
            </ul>
         </span>
      </div> -->
      
      <!-- <div><span class="header">OUR PROPOSAL</span><span class="body">Redesign the Gender Health SF by restructure their Information Architecture to be clear, friendly and accessible to user needs.
      Migrate Gender Health SF to the new SF.GOV site using their current style guides.
      </span></div> -->
 

  <!--  </section>
   <hr>
   <h3>Three Different Current Websites</h3>
   <section class="flex fill">
      <div class="item">
         <div class="title">SFDPH Gender Health</div>
         <div class="image" style="background-image: url(/static/img/ScreenShot.png);"></div>
      </div>
      <div class="item">
         <div class="title">SF Health Network</div>
         <div class="image" style="background-image: url(/static/img/SFHealthNetwork.png);"></div>
      </div>
      <div class="item">
         <div class="title">SF.GOV</div>
         <div class="image" style="background-image: url(/static/img/SF.png);"></div>
      </div>
   </section> -->

   <section class="info">
      <h3>My Role</h3>
      <p>Based on the content and research from SFDPH and SF Health Network. My role is to create a "Gender Health SF" page to the new website following the SF.Gov Style guide. Migrate all the valid content from SFDPH to SF.GOV by following an update Information Architecture. Create a few separated sections at SF.GOV such us: <strong>"Staff and Surgeon", "Upcoming events and training" and "Community and patient resources".</strong></p>
   </section>

   <h3>Process Overview</h3>
   <section class="flex process t-wrap">
      <div class="step">
         <div class="title">DEFINE KEY PROBLEM</div>
         <p>Cient meetings to align on goals and issues<br /><br />User testing on original site.</p>
      </div>
      <div class="step">
         <div class="title">RESEARCH</div>
         <p>Case studies<br /><br />User Interviews</p>
      </div>
      <div class="step">
         <div class="title">SKETCH</div>
         <p>Initial sketches<br /><br />Wireframes</p>
      </div>
      <div class="step">
         <div class="title">DESIGN</div>
         <p>Hi-Fi design<br /><br />Prototype<br /><br />Follow current guidelines<br /><br />Align the design system across teams</p>
      </div>
      <div class="step">
         <div class="title">TESTING</div>
         <p>Tested 2 redesigns<br /><br />Set up testing protocols</p>
      </div>
      <div class="step">
         <div class="title">ITERATE</div>
         <p>Make updates based on testing</p>
      </div>
   </section>

   </section>
   <!-- <hr> -->
   <h3>Three Different Current Websites</h3>
   <section class="flex fill t-wrap">
      <div class="item">
         <div class="title">SFDPH Gender Health</div>
         <div class="image" style="background-image: url(/static/img/sfgov/sf-1.png);"></div>
      </div>
      <div class="item">
         <div class="title">SF Health Network</div>
         <div class="image" style="background-image: url(/static/img/sfgov/sf-2.png);"></div>
      </div>
      <div class="item">
         <div class="title">SF.GOV</div>
         <div class="image" style="background-image: url(/static/img/sfgov/sf-3.png);"></div>
      </div>
   </section>

    
   <h3>Target Users</h3>
   <section class="flex fill t-wrap">
      <div class="target">
         <!-- <div class="h3">Target Users</div> -->
         <div class="sub-title">PRIMARY</div>
         <p>Referred to GHSF and going through gender affirmation surgery/treatment (Patients)<br /><br />
         Those seeking surgery/treatment or would like to learn more</p>
         <br /><br />
         <div class="sub-title">SECONDARY</div>
         <p>San Francisco Providers and Clinicians (Providers)</p>
      </div>
      <div class="target">
         <div class="sub-title">USER GOALS</div>
         <p>Access information on requirements for before and after being referred to GHSF<br /><br />If not eligible, know how to fulfil preliminary steps<br /><br />
            Be navigated to additional community services necessary for a safe and supported experience
         </p>
      </div>
   </section>



   <h3 class="center">Comparative Analysis</h3>
   <section class="flex t-wrap comparative">
      <div class="item left">
         <div class="image no-border" style="background-image: url(/static/img/sfgov/chicago.png);"></div>
         <div class="title">Chicago</div>
         “Event” is located at the sub navigation.
      </div>
      <div class="item left">
         <div class="image no-border" style="background-image: url(/static/img/sfgov/washington.png);"></div>
         <div class="title">Washington State</div>
         “Event” is located at Sub navigation From health care services and supports.
      </div>
      <div class="item left">
         <div class="image no-border" style="background-image: url(/static/img/sfgov/ingersoll.png);"></div>
         <div class="title">Ingersoll <em>(under Washington State umbrella)</em></div>
         “Event” is located on nav bar after “get involved” and “community calendar”.
      </div>
   </section>
   <section class="info">
      <h3>Competitive Insight</h3>
      <p>Insight from research <strong>"Patient and Provider"</strong> divided into each individual section. Each section contains information such as. Surgery Preparation, Fertility Planning, FAQ, Training, Pre-surgical Assessments, Surgical Info for Patients, Forms and Resources.
         <br /><br /><strong>“Calendar of Events”</strong> is the new page that added to both SF health network and SFGov.org. User can find the <strong>“Upcoming Events, Training” and “Orientation Videos”.</strong>
         <br /><br />knowing your <strong>“Staff and Surgeons”</strong> is also important. In this page, user can view their doctor profile and their speciality.
      </p>
   </section>

   <h3>Information Architecture</h3>
   <p>After conducting usability testing at the SF Community Health Center with staff and members, we gain the key insight of our research and findings. With a clear path to move forward, we start categories which section is more essential than others.</p>
   <img class="full fill" src="/static/img/sfgov/ai.png"></img>

   <h3>Patient Journey</h3>
   <p>The pathway of Gender Health SF shows clearly in this patient journey. Start from the beginning to the end and there are also support group or mental health provider after the surgery procedure.</p>
   <img class="full fill" src="/static/img/sfgov/patient-journey.png"></img>

   <h3>Storyboard</h3>
   <!-- <hr> -->
   <p>In this storyboard, I highlight Jordan journey searching for feminizing mammoplasty through the SFDPH website before and after. I show Jordan has a better experience from the new redesign website. In the new site, Jordan finds everything she needs step by step.</p>
   <section class="flex fill t-wrap">
      <div class="cell">
         <div class="image" style="background-image: url(/static/img/sfgov/storyboard-1.png);"></div>
         Jordan needs a feminizing mammoplasty.
      </div>
      <div class="cell">
         <div class="image" style="background-image: url(/static/img/sfgov/storyboard-2.png);"></div>
         She visits SFDPH website, looking for the process, requirement, assessment or support group that she can access or reach out. She left the site without finding what she needs.
      </div>
      <div class="cell">
         <div class="image" style="background-image: url(/static/img/sfgov/storyboard-3.png);"></div>
         Jordan be able to find the resources that she needs throughout the new SFDPH website and be able to schedule her surgery.
      </div>
      <div class="cell">
         <div class="image" style="background-image: url(/static/img/sfgov/storyboard-4.png);"></div>
         Jordan feels happy and joyful, having feminized features to affirm her gender identity is a dream come true.
      </div>
   </section>

   <h3>Sketches</h3>
   <p>We decided to move forward with sketches based on our primary Information Architecture, we focus on the most essential experience to users for example EPP (Education, preparation & planning), Patient and provider, Training, Staff and Surgeons.</p>
   <img class="full fill" src="/static/img/sfgov/sketch.png"></img>

   <h3>Design System</h3>
   <p>Before jumping to High Fidelity prototype, I need to remind myself that my design is constraints by SF.GOV style guide.</p>

   <div class="style-guide">
      <h3>Color</h3>
      <img class="full fill" src="/static/img/sfgov/color.png"></img>

      <h3>Typography</h3>
      <img class="third fill" src="/static/img/sfgov/typography.png"></img>
   </div>


<!-- 
   <h3>SF.GOV Style Guides</h3>
   <section class="flex fill border">
      <div class="colors">
         <h3>Color</h3>
         <div>
            <div class="color-swatch">
               <div class="color" style="background-color: #EEF4F7;"></div>
               #EEF4F7
            </div>
            <div class="color-swatch">
               <div class="color" style="background-color: #F4C336 ;"></div>
               #F4C336
            </div>
            <div class="color-swatch">
               <div class="color" style="background-color: #B2D5E8;"></div>
               #B2D5E8
            </div>
            <div class="color-swatch">
               <div class="color" style="background-color: #0B1760;"></div>
               #0B1760
            </div>
            <div class="color-swatch">
               <div class="color" style="background-color: #5168E4;"></div>
               #5168E4
            </div>
            <div class="color-swatch">
               <div class="color" style="background-color: #0C1464;"></div>
               #0C1464
            </div>
            <div class="color-swatch">
               <div class="color" style="background-color: #1C3E57;"></div>
               #1C3E57
            </div>
            <div class="color-swatch">
               <div class="color" style="background-color: #212123;"></div>
               #212123
            </div>
         </div>
      </div>
      <div class="typography">
         <h3>Typography</h3>
         <div>
            <span class="header">Header</span>
            <span class="body">Rubik Light 72px</span>
         </div>
         <div>
            <span class="header">Subheader</span>
            <span class="body">Rubik Medium 62px</span>
         </div>
         <div>
            <span class="header">Title</span>
            <span class="body">Rubik Medium 62px, 30px</span>
         </div>
         <div>
            <span class="header">Subtitle</span>
            <span class="body">Rubik Medium 24px</span>
         </div>
         <div>
            <span class="header">Body 1</span>
            <span class="body">Rubik Regular 17px</span>
         </div>
         <div>
            <span class="header">Body 2</span>
            <span class="body">Rubik Medium 17px</span>
         </div>
      </div>
   </section> -->
   <h3>Hi-Fi Prototype</h3>
  <!--  <hr> -->
   <p>After an iteration from the sketches we decided to make a few changes to avoid confusion during a usability testing. First of all, to navigate users and providers better, we created a separate section for <strong>“Surgery Information for a Patient and Surgery Information for a Provider”</strong>. Online training and orientation are for both sides under <strong>“Events and trainings”</strong>. 
   As the result from our last meeting with the stakeholders, we created a different page for <strong>“Staff and Surgeon”</strong> Which user can find and view their doctor profile.</p>

   <section class="gallery col-4 t-col-2 m-col-1">
      <div class="image page" style="background-image: url(/static/img/sfgov/sfgov-1.png);" data-image="sfgov/sfgov-1.png"></div>
      <div class="image page" style="background-image: url(/static/img/sfgov/sfgov-2.png);" data-image="sfgov/sfgov-2.png"></div>
      <div class="image page" style="background-image: url(/static/img/sfgov/sfgov-3.png);" data-image="sfgov/sfgov-3.png"></div>
      <div class="image page" style="background-image: url(/static/img/sfgov/sfgov-4.png);" data-image="sfgov/sfgov-4.png"></div>
      <div class="image page" style="background-image: url(/static/img/sfgov/sfgov-5.png);" data-image="sfgov/sfgov-5.png"></div>
      <div class="image page" style="background-image: url(/static/img/sfgov/sfgov-6.png);" data-image="sfgov/sfgov-6.png"></div>
      <div class="image page" style="background-image: url(/static/img/sfgov/sfgov-7.png);" data-image="sfgov/sfgov-7.png"></div>
      <div class="image page" style="background-image: url(/static/img/sfgov/sfgov-8.png);" data-image="sfgov/sfgov-8.png"></div>
   </section>
   <!-- <h3>Process Overview</h3>
   <section class="flex process">
      <div class="step">
         <div class="title">DEFINE KEY PROBLEM</div>
         <p>Cient meetings to align on goals and issues<br /><br />User testing on original site.</p>
      </div>
      <div class="step">
         <div class="title">RESEARCH</div>
         <p>Case studies<br /><br />User Interviews</p>
      </div>
      <div class="step">
         <div class="title">SKETCH</div>
         <p>Initial sketches<br /><br />Wireframes</p>
      </div>
      <div class="step">
         <div class="title">DESIGN</div>
         <p>Hi-Fi design<br /><br />Prototype<br /><br />Follow current guidelines<br /><br />Align the design system across teams</p>
      </div>
      <div class="step">
         <div class="title">TESTING</div>
         <p>Tested 2 redesigns<br /><br />Set up testing protocols</p>
      </div>
      <div class="step">
         <div class="title">ITERATE</div>
         <p>Make updates based on testing</p>
      </div>
   </section> -->
   <!-- <hr> -->
   <h3>Results & Takeaways</h3>
   <p>My team and I presented our final proposal to SFDPH Digital Services Manager and Gender Health Program Director along with 30 plus people audience. We gave a presentation with slides and demoed Hi-Fi prototype. Our recommendations were well received and we are hoping to see some changes soon.</p>

   <h3>Conclusion</h3>
   <p class="conclusion">Took us a while to understand how the surgical process works due to massive content and form. After the second meeting with clients with additional resources and information, we gain a better understanding of how Gender Health SF works.
      <br />
      <br />
      When we showed our wireframe, we found out that our clients were not ready to be found quickly or stay side by side next to “Get transgender community” due of the resources (make sense).
      <br />
      <br />
      I believe we have done a great job redesign “Transgender Health” page from SF health network site and implement “Transgender Health” page to SFGov.org. It is much easier to navigate. Each site keeps its own color scheme and style guide.
   </p>
</div>

