
<div id="terra" class="terra project-container">
   <div class="logo"></div>
   <h1>Terra Sonoma</h1>

   <h3>Sketches</h3>
   <div class="flex even">
   </div>

   <section class="gallery sketches col-2 t-col-1">
      <img src="/static/img/terra-sonoma/sketch-1.png" />
      <img src="/static/img/terra-sonoma/sketch-2.png" />
   </section>

   <section class="gallery products col-2 m-col-1">
	   <img src="/static/img/terra-sonoma/bc.png"></img>
	   <img src="/static/img/terra-sonoma/bag.png"></img>
	   <img src="/static/img/terra-sonoma/tag2.jpg"></img>
   </section>
   <!-- <div class="gallery"> -->
   <!-- </div> -->
</div>
