
<div id="terra" class="terra project-container">
   <div class="logo"></div>
   <h1>Terra Sonoma</h1>

   <h3>Sketches</h3>
   <div class="flex even">
   </div>

   <section class="gallery sketches col-2">
      <img src="/static/img/t-1sketch-1.png" />
      <img src="/static/img/t-1sketch-2.png" />
   </section>

   <section class="gallery products col-2">
	   <img src="/static/img/t-2bc.png"></img>
	   <img src="/static/img/t-3bag.png"></img>
	   <img src="/static/img/t-4tag2.jpg"></img>
   </section>
   <!-- <div class="gallery"> -->
   <!-- </div> -->
</div>
