
<div id="terra" class="terra project-container">
   <div class="logo"></div>
   <h1>Terra Sonoma</h1>

   <h3>Sketches</h3>
   <div class="flex even">
   </div>

   <img class="full" src="/static/img/t-1sketch.png"></img>
   <img class="semi" src="/static/img/t-2bc.png"></img>
   <img class="semi" src="/static/img/t-3bag.png"></img>
   <img class="semi" src="/static/img/t-4tag.png"></img>
</div>
