.about {
	background-size: cover;
	background-position: center;
	/* background-color: red; */
}

.about .details {
	box-sizing: border-box;
	font-family: Rajdhani, sans-serif;
}

.about .sketches .image {
	flex-grow: 1;
	height: 200px;
	width: 230px;
	display: inline-block;
	background-size: cover;
	margin: 8px;
}

.about .sketches .image:nth-child(1) {
	height: 500px;
	width: 500px;
	background-position-y: -44px;
	/* background-size: contain; */
}

.about .sketches .image:nth-child(2) {
	
}

.about .sketches .image:nth-child(3) {
	/* height: 100px; */
}

.about .sketches .image:nth-child(4) {
	position: absolute;
	top:  0;
	left: 540px;
	width: 481px;
	height: 280px;
	background-size: cover;
	background-position-y: -120px;
}

.image {}

.about .project-container .sketches {
	display: block;
}

.about h3 {
	font-size: 24px;
	line-height: 48px;
	text-align: left;
	margin-bottom: 30px;
	background-image: url(../img/Bandung2.jpg);
	height: 360px;
	color: #fff;
	background-size: cover;
	background-position: center;
	padding: 80px 490px 50px 50px;
	box-sizing: border-box;
	font-size: 36px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #082952;
}

.about h4 {
	color: #fff;
	text-align: left;
	text-transform: none;
	font-size: 24px;
	margin: 70px 0 6px;
	font-weight: bold;
}

.about p {
	line-height: 30px;
	letter-spacing: 1px;
	font-family: Open Sans;
	font-weight: 300;
	/*padding: 0 20px;*/
	padding-right: 340px;
	padding-left: 20px;

	/*font-family: Open Sans;
	font-size: 24px;
	font-weight: 300;
	line-height: 43px;*/
	margin-bottom: 20px;
	
}

.about em {
	font-weight: 600;
}

.about a {
	color: #5d5d5d;
	text-transform: none;
	text-decoration: none;
}


.about a:hover {
	color: #b1b1b1;
}

.about .contact-link {
	margin-bottom: 0;
}

.sketches-2 img {
	height: 420px;
	object-fit: cover;
}

@media screen and (max-width:1059px) {
	.about .details {width: 100%;}

	.about h3 {
		padding: 50px 40% 20px 20px;
		font-size: 22px;
		line-height: 33px;
	}

	.about p {
		padding: 0 20px;
	}

	.about .image {
		width:  100% !important;
		position: relative !important;
		left: 0 !important;
		height: 520px !important;
		/* background-size: contain !important; */
	}

	.about .image:first-child {
		height: 640px !important;
	}
}

@media screen and (max-width:600px) {
	.sketches-2 img {
		height: auto;
		object-fit: contain;
	}
}


