.project-container > .logo {
	background-image: url(../img/brand/brand-hero.png);
	background-size: 102%;
}

.project.brand {
  background-image: url(/dynamic/c_fill,w_490,h_490/img/brand/mystic..png);
  background-image: url(../img/brand/mystic.png);
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.project.brand .details {
  background-color: #505153;.sketches {

}


#brand .sketches > img {
	margin: 0;
	width:  50%;
}

#brand .products > img{object-fit: cover;}