
.project-container > .logo {
	background-image: url(../img/guardner/guardner-hero.jpg);
	background-size: cover;
	height: 585px;
}

.project-container h1,
.project-container .play-it,
.project-container h3 {
	color: #eb543e;
}

.project-container .enemies {

}

.project-container .enemies > img {
	max-height: 240px;
}

.project-container .enemies-2 > img {
	max-height: 260px;
}

.project-container .enemies-3 > img {
	max-height: 150px;
}

.game-container {
	width: 1024px;
}