
.project-container > .logo {
	background-image: url(../img/g-HeroImg.png);
	background-color: #000;
	background-size: 110%;
}

.project-container h1,
.project-container h3 {
	color: #066E7B;
}

.project-container h3 {
	margin-top: 80px;
}


.fishes > img {
	max-height: 160px;
}

.treasure > img {
	max-height: 160px;
}

.access > img {
	max-height: 268px;
}

.icon > img {
	max-height: 148px;
}