
<section class="billboard">
   <!-- <div class="title">Hi! I’m Yenny, </div> -->
   <!-- <div class="sub-title">A User Experience & Visual Designer</div> -->
   <div class="sub-title"> Hey there, I’m a product designer with a background in Graphic Design. My Professional experience includes website design, digital illustration, and photography. As a previous business owner and designer for local establishments, I have developed an acute ability to identify customer pain points and use design to influence business decisions, achieve their potential for impact, and strive for excellence.
   </div>
   <!-- <div class="quote">Creative design needs to intersect with functionality and business goals</div> -->
</section>
<section id="projects">
   <!-- <h2>UX/UI & Products</h2> -->
   <h2>Products</h2>
   <div class="flex projects">
      <a class="project project-m project-link" href="/project-m">
         <span class="details">
            <span class="title">Project M</span>
            <span class="sub-title">Web and Mobile Experience</span>

            <p>Created Project M from the ground level and produce the “M” beta testing site.</p>

            <span class="categories">Product Design | UX/UI Design | Market Research | Prototyping | Design System | User Flow | Visual Design </span>
         </span>
      </a>
      <a class="project ipmd project-link" href="/ipmd">
         <span class="details">
            <span class="title">IPMD</span>
            <span class="sub-title">Web and Mobile Experience</span>

            <p>Created the IPMD website that focuses on artificial intelligence human interaction.</p>

            <span class="categories">Product Design | User Research | UX/UI Design | Content Strategy | Visual Design | Prototyping</span>
         </span>
      </a>
      <a class="project sf project-link" href="/sf-gov">
         <span class="details">
            <span class="title">SFDPH “Gender Health SF”</span>
            <span class="sub-title">Web Experience</span>

            <p>Redesign and migrate “Gender Health SF” from SFDPH and SF Health Network to SFGOV.org</p>

            <span class="categories">Product Design | UX Design | Market Research | Visual Design | Prototyping</span>
         </span>
      </a>
      <a class="project onia project-link" href="/onia">
         <span class="details">
            <span class="title">Onia</span>
            <span class="sub-title">Mobile Experience</span>

            <p>A wine app that helps users to keep track of their preferred wine while shopping at the store.</p>

            <span class="categories">Product Design | UX Design | Visual Design | Prototyping | Branding</span>
         </span>
      </a>
      <a class="project mm project-link" href="/mood-mod">
         <span class="details">
            <span class="title">MoodMod</span>
            <span class="sub-title">Mobile Experience</span>

            <p>A telemedicine app focuses on Mental Health</p>

            <span class="categories">User Research | UX Design | Visual Design | Prototyping | Branding</span>
         </span>
      </a>
      <a class="project pc project-link" href="/pinecrest">
         <span class="details">
            <span class="title">Pinecrest</span>
            <span class="sub-title">Restaurant & Web Experience</span>

            <p>Create a better experience for customers and generate more revenue for the establishment.</p>

            <span class="categories">User Research | UX Design | Visual Design | Prototyping | Branding | Photography</span>
         </span>
      </a>
   </div>
</section>

<section id="projects">
   <h2>Other</h2>
   <div class="flex projects">
      <a class="project photography project-link" href="/photography">
         <span class="details">
            <span class="title">Photography</span>
            <!-- <span class="sub-title">Photography</span> -->
            <!-- <span class="categories">Brand Identity | Stationary System | Product Label</span> -->

        <!--  </span>
      </a> -->
      <a class="project collect project-link" href="/collection">
         <span class="details">
            <span class="title">Collection</span>
         </span>
      </a>
   </div>
</section>
